
  
  <!-- Plugins -->
  <link rel="stylesheet" href="assets/global/vendor/footable/footable.min.css">
  <link rel="stylesheet" href="assets/global/vendor/select2/select2.min.css">
  <link rel="stylesheet" href="assets/common/examples/css/uikit/modals.css">
  <link rel="stylesheet" href="assets/global/vendor/bootstrap-sweetalert/sweet-alert.min.css">
  <link rel="stylesheet" href="assets/common/examples/css/uikit/badges-labels.css">
  <link rel="stylesheet" href="assets/common/examples/css/uikit/buttons.css">
  
<div>
 
  
  <!--include header-->
  <div ng-if="vm.isAdmin" class="header" id="header" ng-include src="'/common/admin.header.html'"></div>
  <div ng-if="vm.isUser" class="header" id="header" ng-include src="'/common/user.header.html'"></div>
  <!--header ends-->
  <div class="site-menubar" id="left-bar">
    <div ng-if="vm.isAdmin" class="header" id="header" ng-include src="'/common/admin.sidenav.html'"></div>
    <div ng-if="vm.isUser" class="header" id="header" ng-include src="'/common/user.sidenav.html'"></div>
  </div>
  <!--left sidebar ends-->
  <!-- Page -->
  <div class="page">
    <div class="alert alert-success" role="alert">
      <p><strong>Team created successfully!</strong></p>
    </div>
    <div class="page-header page-header-bordered">
      <h1 class="page-title">Set up your Team Plan!</h1>
      <p class="page-description">You can create a maximum of upto 5 teams consisting of 10 members each. <a class="link" href="plans.html"> (<u>Upgrade Plan</u>)</a></p>
    </div>
    <div class="page-content">
      <form method="post" id="selectTeamForm">
        <!-- Panel 1 -->
        <div class="panel panel-flat" ng-repeat="data in vm.allTeamData">
          <div class="panel-heading pnlTblHead">
            <div class="row">
              <div class="col-sm-3">
                <a class="panel-title aAccPanel" ng-click="selectTeam(data.id)">
                             <strong>{{data.teamName}}</strong>
                            </a>
              </div>
              <div class="col-sm-4">
                <i>{{data.teamDescription}}</i>
              </div>
              <div class="col-sm-4">
                Created: {{data.dateCreated | date:'medium'}}
              </div>
            </div>
          </div>
        </div>
        <!-- /content area -->
      </form>
    </div>
  </div>
  <!-- End Page -->
  <!-- Footer -->
  <footer class="site-footer" id="footer"></footer>


  <!-- Modal -->
  <div class="modal fade modal-fade-in-scale-up" id="modalDeleteTeam" aria-hidden="true"
  aria-labelledby="modalDeleteTeamTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Confirm Delete?</h4>
        </div>
        <div class="modal-body">
          <h5 class="text-muted font-size-16 font-weight-100">You have chosen to delete this team</h5>
          <p>Please confirm your action to proceed.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-pure margin-0" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="btndeleteTeamConfirm" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <!--delete team modal ends-->
  <div class="modal fade modal-fade-in-scale-up" id="modalDeleteTeamMember" aria-hidden="true"
  aria-labelledby="modalDeleteTeamMemberTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Confirm Delete?</h4>
        </div>
        <div class="modal-body">
          <h5 class="text-muted font-size-16 font-weight-100">You have chosen to delete this Team Member</h5>
          <p>Please confirm your action to proceed.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-pure margin-0" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="btndeleteTeamMemberConfirm" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <!--delete team modal ends-->




  
  <div class="modal fade modal-fade-in-scale-up" id="modalServiceInfo" aria-hidden="true"
  aria-labelledby="modalServiceInfoTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Mobility</h4>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-bordered">
            <li class="list-group-item">Category: Web</li>
            <li class="list-group-item">Updated: Jan 15, 2017 </li>
            <li class="list-group-item">Version: 1.3.1</li>
            <li class="list-group-item">Size: 1.2 MB</li>
            <li class="list-group-item">Language: English</li>
            <li class="list-group-item">Price: Free</li>
          </ul>
          <p>Compatibility Instructions to run this service:<br> Lorem ipsum dolor set amin...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--service info modal ends-->

  <div class="modal fade modal-fade-in-scale-up" id="addServiceInfo" aria-hidden="true"
  aria-labelledby="addServiceInfoTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Confirm Your Purchase</h4>
        </div>
        <div class="modal-body">
          <p>You are adding the "Mobility" Service Capability Suite to your account.<br>
Please confirm your purchase below. </p>
          <div class="serviceFeatureList">
            <table class="table table-hover" data-selectable="selectable" data-row-selectable="true">
              <thead>
                <tr>
                  <th class="width-50">
                    <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-all" type="checkbox">
                            <label></label>
                          </span>
                  </th>
                  <th>
                    Category: Mobility
                  </th>
                  <th>
                    Price $99.99
                  </th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-item" type="checkbox" id="row-619" value="619">
                            <label for="row-619"></label>
                          </span>
                  </td>
                  <td colspan="2">Android App Test619</td>
                </tr>
                <tr>
                  <td>
                    <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-item" type="checkbox" id="row-619" value="619">
                            <label for="row-619"></label>
                          </span>
                  </td>
                  <td colspan="2">Runtime Capability 2</td>
                </tr>
                <tr>
                  <td>
                    <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-item" type="checkbox" id="row-619" value="619">
                            <label for="row-619"></label>
                          </span>
                  </td>
                  <td colspan="2">Runtime Capability 3</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>
            <span class="checkbox-custom checkbox-primary checkterms">
              <input class="selectable-all" type="checkbox">
              <label>I have read the <a href="javascript:;">terms and conditions</a> and agree to abide by them.</label>
            </span> 
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-pure margin-0" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="btnConfirmService" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <!--add service modal ends-->

  <!-- Core  -->
  <script src="assets/global/vendor/jquery/jquery.min.js"></script>
  <script src="assets/global/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="assets/global/vendor/asscroll/jquery-asScroll.min.js"></script>
  <script src="assets/global/vendor/mousewheel/jquery.mousewheel.min.js"></script>
  <script src="assets/global/vendor/asscrollable/jquery.asScrollable.all.min.js"></script>
  <script src="assets/global/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
  <script src="assets/global/vendor/waves/waves.min.js"></script>
  <!-- Plugins -->
  <script src="assets/global/vendor/switchery/switchery.min.js"></script>
  <script src="assets/global/vendor/intro-js/intro.min.js"></script>
  <script src="assets/global/vendor/screenfull/screenfull.min.js"></script>
  <script src="assets/global/vendor/slidepanel/jquery-slidePanel.min.js"></script>
  <script src="assets/global/vendor/footable/footable.all.min.js"></script>
  <script src="assets/global/vendor/select2/select2.full.min.js"></script>
  <script src="assets/global/vendor/bootstrap-sweetalert/sweet-alert.min.js"></script>
  <script src="assets/global/vendor/formvalidation/formValidation.min.js"></script>
  <script src="assets/global/vendor/formvalidation/framework/bootstrap.min.js"></script>
  <!-- Scripts -->
  <script src="assets/global/js/core.min.js"></script>
  <script src="assets/common/js/site.min.js"></script>
  <script src="assets/common/js/sections/menu.js"></script>
  <script src="assets/common/js/sections/menubar.js"></script>
  <script src="assets/common/js/sections/gridmenu.js"></script>
  <script src="assets/common/js/sections/sidebar.js"></script>
  <script src="assets/global/js/configs/config-colors.min.js"></script>
  <script src="assets/common/js/configs/config-tour.js"></script>
  <script src="assets/global/js/components/asscrollable.min.js"></script>
  <script src="assets/global/js/components/slidepanel.min.js"></script>
  <script src="assets/global/js/components/switchery.min.js"></script>
  <script src="assets/global/js/components/tabs.min.js"></script>
  <script src="assets/common/examples/js/tables/footable.js"></script>
  <script src="assets/global/js/components/select2.min.js"></script>
  <script src="assets/global/js/components/bootstrap-sweetalert.min.js"></script>
  <script src="assets/global/js/plugins/selectable.min.js"></script>
  <script src="assets/global/js/components/selectable.min.js"></script>
  <script src="assets/global/js/components/material.min.js"></script>
  <script src="assets/common/examples/js/forms/validation.min.js"></script>
  <script src="assets/common/js/common.js"></script>
  <script>
    (function (document, window, $) {
      'use strict';
      var Site = window.Site;
      $(document).on("ready",function() {
        Site.run();
      });
    })(document, window, jQuery);


    // $('#btndeleteTeamConfirm').on("click", function() {
    //   swal({
    //       title: "Confirmed",
    //       text: "Team deleted successfully",
    //       type: "success",
    //       confirmButtonColor: '#DD6B55',
    //       confirmButtonText: 'Done',
    //       timer: 3000
    //     });
    // });

    // $('#btndeleteTeamMemberConfirm').on("click", function() {
    //   swal({
    //       title: "Confirmed",
    //       text: "Team Member deleted successfully",
    //       type: "success",
    //       confirmButtonColor: '#DD6B55',
    //       confirmButtonText: 'Done',
    //       timer: 3000
    //     });
    // });

    // $('#btnConfirmService').on("click", function() {
    //   swal({
    //       title: "Great",
    //       text: "Your purchase has been successfully added to your account. You will receive an email with your activation and licensing details.",
    //       type: "success",
    //       confirmButtonColor: '#DD6B55',
    //       confirmButtonText: 'Done',
    //       timer: 3000
    //     });
    // });

    // $('#btnSaveNewTeam').on("click", function() {
    //   swal({
    //       title: "Great",
    //       text: "Team created successfully",
    //       type: "success",
    //       confirmButtonColor: '#DD6B55',
    //       confirmButtonText: 'Done'
    //     },function() {
    //       window.location.href="user_control_center.html";
    //     });
    // });

    $(document).on("click", ".aAccPanel", function() {
      var panelId = $(this).attr("data-target");
      //alert(panelId);
      $(this).parents(".panel").find("#" + panelId).collapse('toggle');
    });

  </script>

</div>