
  <!-- Plugins -->
  <link rel="stylesheet" href="assets/common/examples/css/pages/login-v3.css">
  <link rel="stylesheet" href="assets/global/vendor/jquery-strength/jquery-strength.min.css">
  <link rel="stylesheet" href="assets/global/vendor/select2/select2.min.css">
  <link rel="stylesheet" href="assets/global/vendor/ascolorpicker/asColorPicker.min.css">

<div class="page-login-v3 layout-full">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Page -->
  <div class="page vertical-align text-center">
    <div class="alert alert-success" role="alert" ><h5>Thank You !</h5 ><p>Your registration is being processed. Please check your email for the 'activation link' to activate your subscription.</p></div>
<div class="alert alert-danger" role="alert"><h5>Error !</h5 ><p>Failed to register due to {{vm.errorMsg}}</p></div>
    <div class="page-content vertical-align-middle" style="width:80%;">
      <div class="panel" style="width:100%;">
        <div class="panel-body" style="padding: 30px 30px;">
          <div class="brand">
            <a href="/#!landing" ><img class="brand-img" style="width:50px;" src="assets/common/images/logo.png" alt="..."></a>
            <h2 class="brand-text font-size-18">Cognitive Cloud</h2>
          </div>
          <div class="example-wrap" style="margin-top:50px; margin-bottom:0;">
            <h4 class="example-title text-left" style="float:left">Quick Register Your Team Plan</h4>
            <small class="text-right" style="float:right">All fields are required</small>
            <div class="clear" style="clear:both"></div>
            <div class="example" style="margin-top:0;">
              <form  onsubmit="return false" id="register">
                <div class="form-material row">
                  <div class="col-sm-6">
                    <div class="form-group form-material floating">
                      <input type="text" class="form-control" ng-model="vm.user.firstName" id="fname" name="fname" required>
                      <label class="floating-label" for="fname">First name</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group form-material floating">
                      <input type="text" class="form-control" ng-model="vm.user.lastName" id="lname" name="lname" required>
                      <label class="floating-label" for="lname">Last name</label>
                    </div>
                  </div>
                </div>
                <div class="form-material row">
                  <div class="col-sm-6">
                    <div class="form-group form-material floating">
                      <input type="password" class="form-control" ng-model="vm.user.password" id="upwd" name="upwd" required>
                      <label class="floating-label" for="upwd">Enter password</label>

                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group form-material floating">
                      <input type="password" class="form-control" ng-model="vm.confirmPass" name="confirm_pass" id="confirm_pass" required >
                      <label class="floating-label" for="confirm_pass">Confirm password</label>
                    </div>
                  </div>
                </div>
                <div class="form-material row">
                  <div class="col-sm-6">
                    <div class="form-group form-material floating">
                      <input type="email" class="form-control" ng-model="vm.user.email" id="uemail" name="uemail" required>
                      <label class="floating-label" for="uemail">Email</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group form-material floating">
                      <input type="text" class="form-control" ng-model="vm.user.primaryContactNumber" id="uphone" name="uphone" required>
                      <label class="floating-label" for="uphone">Contact number</label>
                    </div>
                  </div>
                </div>
                <div class="form-material row">
                  <div class="col-sm-6">
                    <div class="form-group form-material floating">
                      <input type="text" class="form-control" ng-model="vm.user.companyName" id="ucompany" name="ucompany" required>
                      <label class="floating-label" for="ucompany">Company name</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group form-material floating">
                      <select class="form-control required pull-left" data-plugin="select2" data-placeholder="" data-allow-clear="true" ng-model="vm.user.industryType" id="industryType" name="industryType" required>
                          <option></option> 
                          <option value="Banking">Banking</option>
                          <option value="Marketing">Marketing</option>
                          <option value="Technical">Technical</option>
                          <option value="Services">Services</option>
                          <option value="Networking">Networking</option>
                      </select>
                      <label class="floating-label" for="industryType">Select stream</label>
                    </div>
                  </div>
                </div>
                <!--<h5 class="text-left">Personalise your account profile theme</h5>
                <div class="row">
                  <div class="col-sm-7">
                    <p class="text-muted text-left">
                                                                  Upload your company logo <small class="font-weight">(Your logo should be in PNG format not extending 100kb in size) </small>
                                                              </p>
                  </div>
                  <div class="col-sm-5">
                    <input type="file" id="input-file-events" class="dropify-event" data-default-file="assets/global/photos/placeholder.png">
                  </div>
                </div>
                <div class="form-material row">
                  <div class="col-sm-6">
                    <div class="form-group form-material floating">
                      <input type="text" class="asColorpicker form-control" data-plugin="asColorPicker"
                  data-mode="simple" />
                      <label class="floating-label">Select Header Background Color </label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group form-material floating">
                      <input type="text" class="asColorpicker form-control" data-plugin="asColorPicker"
                  data-mode="simple" />
                      <label class="floating-label">Select Navigation Background Color </label>
                    </div>
                  </div>
                </div>-->
                <div class="clearfix text-center margin-top-20">
                  <a href="/#!landing" class="btn btn-default waves-effect waves-light margin-right-10">Cancel</a>
                  <button class="btn btn-primary waves-effect waves-light" ng-click="vm.register()">Register</button>
                </div>
                
                
              </form>
            </div>
          </div>
              <!--register form ends-->
          <p>Already a member? Please <a href="/#login">Sign in</a></p>
        </div>
      </div>
      <footer class="page-copyright page-copyright-inverse">
        <p>© 2016. All RIGHT RESERVED.</p>
      </footer>
    </div>
  </div>
  <!-- End Page -->
  <!-- Core  -->
  <script src="assets/global/vendor/jquery/jquery.min.js"></script>
  <script src="assets/global/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="assets/global/vendor/asscroll/jquery-asScroll.min.js"></script>
  <script src="assets/global/vendor/mousewheel/jquery.mousewheel.min.js"></script>
  <script src="assets/global/vendor/asscrollable/jquery.asScrollable.all.min.js"></script>
  <script src="assets/global/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
  <script src="assets/global/vendor/waves/waves.min.js"></script>
  <!-- Plugins -->
  <script src="assets/global/vendor/switchery/switchery.min.js"></script>
  <script src="assets/global/vendor/intro-js/intro.min.js"></script>
  <script src="assets/global/vendor/screenfull/screenfull.min.js"></script>
  <script src="assets/global/vendor/slidepanel/jquery-slidePanel.min.js"></script>
  <script src="assets/global/vendor/jquery-placeholder/jquery.placeholder.min.js"></script>
  <script src="assets/global/vendor/jquery-strength/jquery-strength.min.js"></script>
  <script src="assets/global/vendor/select2/select2.full.min.js"></script>
  <script src="assets/global/vendor/ascolorpicker/jquery-asColorPicker.min.js"></script>
  <script src="assets/global/vendor/formvalidation/formValidation.min.js"></script>
  <script src="assets/global/vendor/formvalidation/framework/bootstrap.min.js"></script>
  <!-- Scripts -->
  <script src="assets/global/js/core.min.js"></script>
  <script src="assets/common/js/site.min.js"></script>
  <script src="assets/common/js/sections/menu.js"></script>
  <script src="assets/common/js/sections/menubar.js"></script>
  <script src="assets/common/js/sections/gridmenu.js"></script>
  <script src="assets/common/js/sections/sidebar.js"></script>
  <script src="assets/global/js/configs/config-colors.min.js"></script>
  <script src="assets/common/js/configs/config-tour.js"></script>
  <script src="assets/global/js/components/asscrollable.min.js"></script>
  <script src="assets/global/js/components/slidepanel.min.js"></script>
  <script src="assets/global/js/components/switchery.min.js"></script>
  <script src="assets/global/js/components/tabs.min.js"></script>
  <script src="assets/global/js/components/jquery-placeholder.min.js"></script>
  <script src="assets/global/js/components/material.min.js"></script>
  <script src="assets/global/js/components/jquery-strength.min.js"></script>
  <script src="assets/global/js/components/ascolorpicker.min.js"></script>
  <script src="assets/common/examples/js/forms/validation.min.js"></script>
  
  <script src="assets/global/js/components/select2.min.js"></script>
  <script>
  (function(document, window, $) {
    'use strict';
    var Site = window.Site;
    $(document).ready(function() {
      Site.run();
      validateRegisterForm();
    });
  })(document, window, jQuery);
  </script>
  <script>
  function validateRegisterForm() {
    $('#register').formValidation({
        framework: 'bootstrap',
        // List of fields and their validation rules
        fields: {
            fname: {
                validators: {
                    notEmpty: {
                        message: 'First Name is required and cannot be empty'
                    },
                    regexp: {
                        regexp: /^[a-z]+$/i,
                        message: 'First Name can consist of alphabetical characters only'
                    }
                    
                }
            },
            lname: {
                validators: {
                    notEmpty: {
                        message: 'Last Name is required and cannot be empty'
                    },
                    regexp: {
                        regexp: /^[a-z]+$/i,
                        message: 'Last Name can consist of alphabetical characters only'
                    }
                    
                }
            },
            upwd: {
                validators: {
                    notEmpty: {
                        message: 'The password is required and cannot be empty'
                    },
                    stringLength: {
                        min: 6,
                        message: 'The password must be more than 6 characters long'
                    },
                    identical: {
                        field: 'confirm_pass',
                        message: 'The password and its confirm are not the same'
                    }
                }
            },
            confirm_pass: {
                validators: {
                    notEmpty: {
                        message: 'The password is required and cannot be empty'
                    },
                    identical: {
                        field: 'upwd',
                        message: 'The password and its confirm are not the same'
                    }
                }
            },
            uemail: {
                validators: {
                    notEmpty: {
                        message: 'Email is required and cannot be empty'
                    },
                    emailAddress: {
                        message: 'The value is not a valid email address'
                    }
                }
            },
            uphone: {
                validators: {
                    notEmpty: {
                        message: 'Contact number is required and cannot be empty'
                    },
                    stringLength: {
                        min: 10,
                        max: 10,
                        message: 'Contact is not a valid 10 digit number'
                    },
                    numeric: {
                            message: 'Contact is not a valid number'
                        }
                }
            },
            ucompany: {
                validators: {
                    notEmpty: {
                        message: 'Company Name is required and cannot be empty'
                    }
                }
            },
            industryType: {
                validators: {
                    notEmpty: {
                        message: 'Select Industry Type'
                    }
                }
            }
            
            
        }
    });
  }
  </script>
</div>
