
  
  <!-- Plugins -->
  <link rel="stylesheet" href="assets/global/vendor/footable/footable.min.css">
  <link rel="stylesheet" href="assets/global/vendor/select2/select2.min.css">
  <link rel="stylesheet" href="assets/common/examples/css/uikit/modals.css">
  <link rel="stylesheet" href="assets/global/vendor/bootstrap-sweetalert/sweet-alert.min.css">
  <link rel="stylesheet" href="assets/common/examples/css/uikit/badges-labels.css">
  <link rel="stylesheet" href="assets/common/examples/css/uikit/buttons.css">
  
<div>
  
  <!--include header-->
  <div ng-if="vm.isAdmin" class="header" id="header" ng-include src="'/common/admin.header.html'"></div>
  <div ng-if="vm.isUser" class="header" id="header" ng-include src="'/common/user.header.html'"></div>
  <!--header ends-->
  <div class="site-menubar" id="left-bar">
    <div ng-if="vm.isAdmin" class="header" id="header" ng-include src="'/common/admin.sidenav.html'"></div>
    <div ng-if="vm.isUser" class="header" id="header" ng-include src="'/common/user.sidenav.html'"></div>
  </div>
  <!--left sidebar ends-->
  <!-- Page -->
  <div class="page">
    <div class="alert alert-success" role="alert">
      <p><strong>Team created successfully!</strong></p>
    </div>
    <div class="page-header page-header-bordered">
      <h1 class="page-title">Set up your Team Plan!</h1>
      <p class="page-description">You can create a maximum of upto 5 teams consisting of 10 members each. <a class="link" href="plans.html"> (<u>Upgrade Plan</u>)</a></p>
    </div>
    <div class="page-content">
      <form method="post" id="createNewTeamForm" name="createNewTeamForm" novalidate onSubmit="return false;">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Team Details</h3>
          </div>
          <div class="panel-body padding-bottom-10">
            <div class="form-material row">
              <div class="col-sm-6">
                <div class="form-group form-material floating">
                  <input type="text" class="form-control" id="teamname" name="teamname" ng-model="vm.insertingTeam.teamName" ng-pattern="wordPattern" required>
                  <label class="floating-label" for="teamname">Enter Team Name</label>
                </div>
                <div ng-show="createNewTeamForm.$submitted || createNewTeamForm.teamname.$touched" class="formErrors">
                  <div ng-show="createNewTeamForm.teamname.$error.required">Team Name is required and cannot be empty</div>
                  <div ng-show="createNewTeamForm.teamname.$error.pattern">Team Name can consist of alphabetical characters only</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-material floating">
                  <input type="text" class="form-control" id="teamdesc" name="teamdesc" ng-model="vm.insertingTeam.teamDescription" required>
                  <label class="floating-label" for="teamdesc">Enter Team Description</label>
                </div>
                <div ng-show="createNewTeamForm.$submitted || createNewTeamForm.teamdesc.$touched" class="formErrors">
                  <div ng-show="createNewTeamForm.teamdesc.$error.required">Team Description is required and cannot be empty</div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-heading">
            <h3 class="panel-title">Team Member Details</h3>
          </div>
          <div class="panel-body">
            <table class="table table-hover toggle-circle createteamTable" id="createteamTable" data-paging="false" data-filtering="false"
              data-sorting="false" data-show-toggle="false">
              <thead>
                <tr>
                  <th data-sort-ignore="true" data-toggle="true">First name</th>
                  <th data-sort-ignore="true" data-toggle="true">Last name</th>
                  <th data-sort-ignore="true">Work Email Addresses</th>
                  <th data-hide="phone, tablet" data-sort-ignore="true">Assign Credit Limit(USD)</th>
                  <th data-hide="phone, tablet" data-sort-ignore="true" class="tstoreAccess">Store Access</th>
                  <th data-hide="phone, tablet" data-sort-ignore="true" class="tBtnDelete">Delete</th>
                </tr>
              </thead>
              <tbody id="createTeamTbody">
                <tr ng-repeat="displayData in vm.insertingTeam.teamUsers">
                  <td class="firstName">
                    <div class="form-group form-material floating">
                      <!--<input type="text" title="Enter only letters" placeholder="Enter First Name" class="form-control firstName" ng-model="displayData.user.firstName" id="tmFname" ng-attr-name="{{'person['+$index+'].firstName'}}">-->
                      <input type="text" title="Enter only letters" placeholder="Enter First Name" class="form-control" ng-model="displayData.user.firstName" id="firstName_{{$index}}" name="firstName_{{$index}}" ng-pattern="wordPattern" required>
                    </div>
                    <div ng-show="createNewTeamForm.$submitted || createNewTeamForm['firstName_' + $index].$touched" class="formErrors">
                      <div ng-show="createNewTeamForm['firstName_' + $index].$error.required">First name is required and cannot be empty</div>
                      <div ng-show="createNewTeamForm['firstName_' + $index].$error.pattern">First Name can consist of alphabetical characters only</div>
                    </div>
                  </td>
                  <td class="lastName">
                    <div class="form-group form-material floating">
                      <input type="text" title="Enter only letters" placeholder="Enter Last Name" class="form-control" ng-model="displayData.user.lastName" id="lastName_{{$index}}" name="lastName_{{$index}}" ng-pattern="wordPattern" required>
                    </div>
                    <div ng-show="createNewTeamForm.$submitted || createNewTeamForm['lastName_' + $index].$touched" class="formErrors">
                      <div ng-show="createNewTeamForm['lastName_' + $index].$error.required">Last name is required and cannot be empty</div>
                      <div ng-show="createNewTeamForm['lastName_' + $index].$error.pattern">Last Name can consist of alphabetical characters only</div>
                    </div>
                  </td>
                  <td class="email">
                    <div class="form-group form-material floating">
                      <input type="email" placeholder="Enter Email Address" class="form-control" ng-model="displayData.user.login" id="email_{{$index}}" name="email_{{$index}}" required>
                    </div>
                    <div ng-show="createNewTeamForm.$submitted || createNewTeamForm['email_' + $index].$touched" class="formErrors">
                      <div ng-show="createNewTeamForm['email_' + $index].$error.required">Email is required and cannot be empty</div>
                      <div ng-show="createNewTeamForm['email_' + $index].$error.email">The value is not a valid email address</div>
                    </div>
                  </td>
                  <td class="price" ng-model="displayData.creditLimit">
                    <div class="form-group form-material floating">
                      <select class="form-control price-select" data-plugin="select2" data-placeholder="Select" data-allow-clear="true" id="creditLimit_{{$index}}" name="creditLimit_{{$index}}" required> 
                        <option value="">Select</option>
                        <option ng-selected="displayData.creditLimit == 1000" ng-value="1000">1000</option>
                        <option ng-selected="displayData.creditLimit == 300" ng-value="300">300</option>
                        <option ng-selected="displayData.creditLimit == 400" ng-value="400">400</option>
                        <option ng-selected="displayData.creditLimit == 200" ng-value="200">200</option>
                        <option ng-selected="displayData.creditLimit == 100" ng-value="100">100</option>
                        <option ng-selected="displayData.creditLimit == 0" ng-value="0">0</option>
                      </select>
                    </div>
                    <div ng-show="createNewTeamForm.$submitted || createNewTeamForm['creditLimit_' + $index].$touched" class="formErrors">
                      <div ng-show="createNewTeamForm['creditLimit_' + $index].$error.required">Email is required and cannot be empty</div>
                    </div>
                  </td>
                  <td class="tstoreAccess">
                    <div class="checkbox-custom checkbox-primary">
                      <input id="checkbox1id" type="checkbox" checked="" ng-model="displayData.storeAccess">
                      <label for="checkbox1id"></label>
                    </div>
                  </td>
                  <td class="tBtnDelete">
                    <!--<span class="btn-delete"><i class="ion-ios-trash-outline" data-target="#modalDeleteTeamMember" data-toggle="modal"></i></span>-->
                    <a href="javascript:;"  ng-click="removeTeamUserToInserting($index)"><i class="ion-ios-trash-outline"></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--<a class=" btn btnAddMoreMember" id="btnAddMoreMember" ng-click="addTeamUserToInserting()"><i class="ion-ios-personadd-outline"></i>Add More</a>-->
            <button type="button" class="btn btn-dark waves-effect waves-light" id="btnAddNewMembers" ng-click="addTeamUserToInserting()"><i class="icon md-plus" aria-hidden="true"></i> Add More</button>
            <div class="clearfix text-center margin-top-20">
              <button type="button" class="btn btn-default waves-effect waves-light margin-right-10">Cancel</button>
              <button type="button" class="btn btn-primary waves-effect waves-light" id="btnSaveNewTeam" ng-click="createNewTeamForm.$valid && createTeam()">Save & Create Team</button>
            </div>
          </div>
        </div>
        <!--team details panel ends-->
      </form>  











        <div class="panel" ng-init="getAllTeam()">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="font-15">Displaying <i>({{allTeamData.length}})</i> Teams Added by You</span></h3>
          </div>
          <div class="panel-body">
            <div class="panel-group margin-bottom-20" id="accordion-control" aria-multiselectable="true" role="tablist">

              <!-- Begin: Code for Test Mgmt Team -->
              <div class="panel margin-bottom-10" ng-repeat="data in allTeamData">
                <div class="panel-heading pnlTblHead" ng-attr-id="{{'teamHeadingDefaultOne-'+$index}}" role="tab">
                  <div class="panel-actions">
                    <span class="btn-edit" ng-click="makeTeamEditable(data,$index)"><i class="ion-edit"></i></span>
                    <span class="btn-edit" ng-click="deleteTeam(data.id)"><i class="ion-ios-trash-outline"></i></span>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <a class="panel-title aAccPanel" data-toggle="collapse" href="javascript:;" data-parent="#accordion-control" aria-expanded="true"  ng-attr-data-target="{{'accordion-control-'+$index}}" ng-attr-aria-controls="{{'accordion-control-'+$index}}">
                             <strong>{{data.teamName}}</strong>
                            </a>
                    </div>
                    <div class="col-sm-4">
                      <i>{{data.teamDescription}}</i>
                    </div>
                    <div class="col-sm-4">
                      Created: {{data.dateCreated | date:'medium'}}
                    </div>
                  </div><!-- ng-attr-id="{{ 'object-' + myScopeObject.index }}" -->

                </div>
                <div ng-attr-id="{{'accordion-control-'+$index}}" class="panel-collapse collapse in" ng-attr-aria-labelledby="{{'teamHeadingDefaultOne-'+$index}}"  role="tabpanel">
                  <div class="panel-body">
                    <fieldset ng-attr-id="{{ 'fieldsetEdit-' + myScopeObject.index }}"  ng-disabled="!data.isTeamEnabled">
                    <table class="table table-bordered table-hover toggle-circle teamTable" data-paging="false" data-filtering="false" data-sorting="false"
                      data-show-toggle="false">
                      <thead>
                        <tr>
                          <th data-sort-ignore="true" data-toggle="true">First Name</th>
                          <th data-sort-ignore="true" data-toggle="true">Last Name</th>
                          <th data-sort-ignore="true">Work Email Addresses</th>
                          <th data-hide="phone, tablet" data-sort-ignore="true">Assign Credit Limit(USD)</th>
                          <th data-hide="phone, tablet" data-sort-ignore="true">Store Access</th>
                          <th data-hide="phone, tablet" data-sort-ignore="true">Delete</th>
                        </tr>
                      </thead>
                      <tbody id="{{data.id}}">
                        <tr ng-repeat="displayData in data.teamUsers ">
                          <td>
                            <div class="form-group form-material floating">
                              <input type="hidden" id="userId12" value="{{displayData.id}}"/>
                                  <input type="text" title="Enter only letters" placeholder="Enter First Name"  class="form-control" ng-model="displayData.user.firstName">
                            </div>
                          </td>
                          <td>
                            <div class="form-group form-material floating">
                              <input type="text" title="Enter only letters" placeholder="Enter Last Name" class="form-control" ng-model="displayData.user.lastName">
                            </div>
                          </td>
                          <td>
                            <div class="form-group form-material floating">
                              <input type="email" placeholder="Enter Email Address" class="form-control" ng-model="displayData.user.login">
                            </div>
                          </td>
                          <td>
                            <div class="form-group form-material floating">
                              <select class="form-control price-select" data-plugin="select2" data-placeholder="Select" data-allow-clear="true" ng-model="displayData.creditLimit">
                                <option value="">Select</option>
                                <option ng-selected="displayData.creditLimit == 1000" ng-value="1000">1000</option>
                                <option ng-selected="displayData.creditLimit == 300" ng-value="300">300</option>
                                <option ng-selected="displayData.creditLimit == 400" ng-value="400">400</option>
                                <option ng-selected="displayData.creditLimit == 200" ng-value="200">200</option>
                                <option ng-selected="displayData.creditLimit == 100" ng-value="100">100</option>
                                <option ng-selected="displayData.creditLimit == 0" ng-value="0">0</option>
                              </select>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox-custom checkbox-primary">
                              <input ng-if="displayData.storeAccess == true" id="checkbox1id" type="checkbox" checked="checked" ng-model="displayData.storeAccess">
                                      <input ng-if="displayData.storeAccess == false || displayData.storeAccess == undefined" id="checkbox1id" type="checkbox" checked="" ng-model="displayData.storeAccess">
                              <label for="checkbox1id"></label>
                            </div>
                          </td>
                          <td class="tBtnDelete">
                            <!--<span class="btn-delete"><i class="ion-ios-trash-outline" data-target="#modalDeleteTeamMember" data-toggle="modal"></i></span>-->
                            <a href="javascript:;"  ng-click="removeTeamUser($parent.$index,displayData)"><i class="ion-ios-trash-outline"></i>
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                    </fieldset>
                    <button type="button" class="btn btn-dark waves-effect waves-light" id="btnAddNewMembers" ng-click="addTeamUser($index)"><i class="icon md-plus" aria-hidden="true"></i> Add More</button>
                    <div class="clearfix text-center margin-top-20">
                      <button type="button" class="btn btn-default waves-effect waves-light margin-right-10" ng-click="resetTeamsEdit()">Cancel</button>
                      <button type="button" class="btn btn-primary waves-effect waves-light" ng-click="editTeam($index,data.id)" >Save</button>
                    </div>
                  </div>
                </div>
              </div>
              


            </div>
          </div>
        </div>
        <!--created team details panel ends-->
      </form>
    </div>
  </div>
  <!-- End Page -->
  <!-- Footer -->
  <footer class="site-footer" id="footer"></footer>


  <!-- Modal -->
  <div class="modal fade modal-fade-in-scale-up" id="modalDeleteTeam" aria-hidden="true"
  aria-labelledby="modalDeleteTeamTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Confirm Delete?</h4>
        </div>
        <div class="modal-body">
          <h5 class="text-muted font-size-16 font-weight-100">You have chosen to delete this team</h5>
          <p>Please confirm your action to proceed.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-pure margin-0" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="btndeleteTeamConfirm" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <!--delete team modal ends-->
  <div class="modal fade modal-fade-in-scale-up" id="modalDeleteTeamMember" aria-hidden="true"
  aria-labelledby="modalDeleteTeamMemberTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Confirm Delete?</h4>
        </div>
        <div class="modal-body">
          <h5 class="text-muted font-size-16 font-weight-100">You have chosen to delete this Team Member</h5>
          <p>Please confirm your action to proceed.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-pure margin-0" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="btndeleteTeamMemberConfirm" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <!--delete team modal ends-->




  
  <div class="modal fade modal-fade-in-scale-up" id="modalServiceInfo" aria-hidden="true"
  aria-labelledby="modalServiceInfoTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Mobility</h4>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-bordered">
            <li class="list-group-item">Category: Web</li>
            <li class="list-group-item">Updated: Jan 15, 2017 </li>
            <li class="list-group-item">Version: 1.3.1</li>
            <li class="list-group-item">Size: 1.2 MB</li>
            <li class="list-group-item">Language: English</li>
            <li class="list-group-item">Price: Free</li>
          </ul>
          <p>Compatibility Instructions to run this service:<br> Lorem ipsum dolor set amin...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--service info modal ends-->

  <div class="modal fade modal-fade-in-scale-up" id="addServiceInfo" aria-hidden="true"
  aria-labelledby="addServiceInfoTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Confirm Your Purchase</h4>
        </div>
        <div class="modal-body">
          <p>You are adding the "Mobility" Service Capability Suite to your account.<br>
Please confirm your purchase below. </p>
          <div class="serviceFeatureList">
            <table class="table table-hover" data-selectable="selectable" data-row-selectable="true">
              <thead>
                <tr>
                  <th class="width-50">
                    <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-all" type="checkbox">
                            <label></label>
                          </span>
                  </th>
                  <th>
                    Category: Mobility
                  </th>
                  <th>
                    Price $99.99
                  </th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-item" type="checkbox" id="row-619" value="619">
                            <label for="row-619"></label>
                          </span>
                  </td>
                  <td colspan="2">Android App Test619</td>
                </tr>
                <tr>
                  <td>
                    <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-item" type="checkbox" id="row-619" value="619">
                            <label for="row-619"></label>
                          </span>
                  </td>
                  <td colspan="2">Runtime Capability 2</td>
                </tr>
                <tr>
                  <td>
                    <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-item" type="checkbox" id="row-619" value="619">
                            <label for="row-619"></label>
                          </span>
                  </td>
                  <td colspan="2">Runtime Capability 3</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>
            <span class="checkbox-custom checkbox-primary checkterms">
              <input class="selectable-all" type="checkbox">
              <label>I have read the <a href="javascript:;">terms and conditions</a> and agree to abide by them.</label>
            </span> 
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-pure margin-0" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="btnConfirmService" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <!--add service modal ends-->

  <!-- Core  -->
  <script src="assets/global/vendor/jquery/jquery.min.js"></script>
  <script src="assets/global/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="assets/global/vendor/asscroll/jquery-asScroll.min.js"></script>
  <script src="assets/global/vendor/mousewheel/jquery.mousewheel.min.js"></script>
  <script src="assets/global/vendor/asscrollable/jquery.asScrollable.all.min.js"></script>
  <script src="assets/global/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
  <script src="assets/global/vendor/waves/waves.min.js"></script>
  <!-- Plugins -->
  <script src="assets/global/vendor/switchery/switchery.min.js"></script>
  <script src="assets/global/vendor/intro-js/intro.min.js"></script>
  <script src="assets/global/vendor/screenfull/screenfull.min.js"></script>
  <script src="assets/global/vendor/slidepanel/jquery-slidePanel.min.js"></script>
  <script src="assets/global/vendor/footable/footable.all.min.js"></script>
  <script src="assets/global/vendor/select2/select2.full.min.js"></script>
  <script src="assets/global/vendor/bootstrap-sweetalert/sweet-alert.min.js"></script>
  <script src="assets/global/vendor/formvalidation/formValidation.min.js"></script>
  <script src="assets/global/vendor/formvalidation/framework/bootstrap.min.js"></script>
  <!-- Scripts -->
  <script src="assets/global/js/core.min.js"></script>
  <script src="assets/common/js/site.min.js"></script>
  <script src="assets/common/js/sections/menu.js"></script>
  <script src="assets/common/js/sections/menubar.js"></script>
  <script src="assets/common/js/sections/gridmenu.js"></script>
  <script src="assets/common/js/sections/sidebar.js"></script>
  <script src="assets/global/js/configs/config-colors.min.js"></script>
  <script src="assets/common/js/configs/config-tour.js"></script>
  <script src="assets/global/js/components/asscrollable.min.js"></script>
  <script src="assets/global/js/components/slidepanel.min.js"></script>
  <script src="assets/global/js/components/switchery.min.js"></script>
  <script src="assets/global/js/components/tabs.min.js"></script>
  <script src="assets/common/examples/js/tables/footable.js"></script>
  <script src="assets/global/js/components/select2.min.js"></script>
  <script src="assets/global/js/components/bootstrap-sweetalert.min.js"></script>
  <script src="assets/global/js/plugins/selectable.min.js"></script>
  <script src="assets/global/js/components/selectable.min.js"></script>
  <script src="assets/global/js/components/material.min.js"></script>
  <script src="assets/common/examples/js/forms/validation.min.js"></script>
  <script src="assets/common/js/common.js"></script>
  <script>
    (function (document, window, $) {
      'use strict';
      var Site = window.Site;
      $(document).on("ready",function() {
        Site.run();
        //validateCreateTeamForm();
      });
    })(document, window, jQuery);


    // $('#btndeleteTeamConfirm').on("click", function() {
    //   swal({
    //       title: "Confirmed",
    //       text: "Team deleted successfully",
    //       type: "success",
    //       confirmButtonColor: '#DD6B55',
    //       confirmButtonText: 'Done',
    //       timer: 3000
    //     });
    // });

    // $('#btndeleteTeamMemberConfirm').on("click", function() {
    //   swal({
    //       title: "Confirmed",
    //       text: "Team Member deleted successfully",
    //       type: "success",
    //       confirmButtonColor: '#DD6B55',
    //       confirmButtonText: 'Done',
    //       timer: 3000
    //     });
    // });

    // $('#btnConfirmService').on("click", function() {
    //   swal({
    //       title: "Great",
    //       text: "Your purchase has been successfully added to your account. You will receive an email with your activation and licensing details.",
    //       type: "success",
    //       confirmButtonColor: '#DD6B55',
    //       confirmButtonText: 'Done',
    //       timer: 3000
    //     });
    // });

    // $('#btnSaveNewTeam').on("click", function() {
    //   swal({
    //       title: "Great",
    //       text: "Team created successfully",
    //       type: "success",
    //       confirmButtonColor: '#DD6B55',
    //       confirmButtonText: 'Done'
    //     },function() {
    //       window.location.href="user_control_center.html";
    //     });
    // });

    $(document).on("click", ".aAccPanel", function() {
      var panelId = $(this).attr("data-target");
      //alert(panelId);
      $(this).parents(".panel").find("#" + panelId).collapse('toggle');
    });

  </script>
  <script>
  function validateCreateTeamForm() {
    $('#createNewTeamForm').formValidation({
        framework: 'bootstrap',
        // List of fields and their validation rules
        fields: {
            teamname: {
                validators: {
                    notEmpty: {
                        message: 'Team Name is required and cannot be empty'
                    },
                    regexp: {
                        regexp: /^[a-z]+$/i,
                        message: 'Team Name can consist of alphabetical characters only'
                    } 
                }
            },
            teamdesc: {
                validators: {
                    notEmpty: {
                        message: 'Team Description is required and cannot be empty'
                    }
                }
            },
            "tmFname[]": {
                validators: {
                    notEmpty: {
                        message: 'First Name is required and cannot be empty'
                    },
                    regexp: {
                        regexp: /^[a-z]+$/i,
                        message: 'First Name can consist of alphabetical characters only'
                    }
                }
            },
            "tmLname[]" : {
                validators: {
                    notEmpty: {
                        message: 'Last Name is required and cannot be empty'
                    },
                    regexp: {
                        regexp: /^[a-z]+$/i,
                        message: 'Last Name can consist of alphabetical characters only'
                    }
                }
            },
            "tmEmail[]": {
                validators: {
                    notEmpty: {
                        message: 'Email is required and cannot be empty'
                    },
                    emailAddress: {
                        message: 'The value is not a valid email address'
                    }
                }
            },
           "creditLimit[]" : {
                validators: {
                    notEmpty: {
                        message: 'Select Industry Type'
                    }
                }
            }
        }
    });
  }
  </script>
</div>