
html {font-size: 14px;}
.slidePanel {z-index: 1410;}
.site-navbar .navbar-container {
    background-color: #fff;
}



.select2-container--material .select2-selection--single {padding-left: 0 !important;}

.site-menu a i {vertical-align: middle;    font-size: 20px;}
.page-description {margin-bottom:0;}
.teamTable.table>tbody>tr>td {vertical-align: middle;}
.teamTable.table>thead>tr>th:last-child {text-align: center;}
.table .form-material.floating { margin-top: 10px; margin-bottom: 10px;}

.panel-group .panel {    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;}
.panel-group .panel:hover {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
}
.panel-group .panel-title:after, .panel-group .panel-title:before {    top: 0;
    right: auto; left: 0;}
.panel-group .panel-title[aria-expanded=false]:before { opacity: 1;}
.panel-actions {font-size: 1.6rem;}
.panel-actions span:first-child {margin-right: 8px;}
.page-title {font-size: 22px;font-weight: 100;}

.panel-title {font-size: 16px;}


.stickyBR {position: absolute; bottom: 10px;right: 10px;}
.iconlg {font-size: 3rem;}

.nav_inverse.nav-tabs>li>a {padding: 5px 10px;background-color: rgba(117, 117, 117, 0.77);color: #fff;}
.panelStoreSticky .nav-tabs.nav_inverse>li.active>a, .panelStoreSticky .nav-tabs.nav_inverse>li.active>a:focus, .panelStoreSticky .nav-tabs.nav_inverse>li.active>a:hover {
    background-color: #fff !important;color: #757575;    border-color: #e0e0e0; border-bottom-color: transparent;}

.img_responsive{width: 100%; max-width: 100%; height: auto; vertical-align: top;}

.nav-tabs-solid.nav_inverse~.tab-content {border: 1px solid #e0e0e0;border-top-color: transparent; background-color: transparent; position: relative;}
.nav-tabs-solid.nav_inverse~.tab-content img {max-height: 300px; overflow: hidden;}
.nav-tabs-solid.nav_inverse~.tab-content span { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 2rem;}

.ulList > li.list-group-item {padding:0;}




.a_logo {height: 66px;}
.site-sidebar-tab-content .avatar.avatar-lg {width: 100px;}
.site-sidebar-tab-content .widget-header { padding: 30px 15px 19px 15px;background-color: #fff;}
.site-sidebar-tab-content .widget-footer {padding: 10px;background-color: #f6f9fd;}

.pnlTblHead {padding: 0 30px;}
.pnlTblHead.panel-heading .row > div {padding-top: 15px; padding-bottom: 15px;}
.pnlTblHead.panel-heading .row > div > .panel-title {padding-top: 0; padding-bottom: 0; font-weight: 400;}
.pnlTblHead.panel-heading .row > div .checkbox-custom {margin-top: 0; margin-bottom: 0;}

.alert{display: none;}

.rSidebar .nav-tabs-autoline {display: none;}

/***sweet alert***/
.sweet-alert h2 {font-size: 18px;line-height: 2;}
.sweet-alert p.lead.text-muted {font-size: 16px;}

.blockItem  > i {font-size: 5rem;}
.blockItem > .badge.up {
    position: absolute;
    top: 0;
    margin: 0 -.8em;
    border-radius: 15px;
}
.box .panel-heading {background-color: #f5f5f5;}
.boxUl {list-style-type: none;overflow: hidden; margin-bottom: 0; margin-top: 20px;}
.boxUl > li {margin-bottom: 20px;}
.blockBorder {    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);border: 1px solid transparent;  padding: 15px 0 0 0; position: relative;}
.blockBorder .panel {margin-bottom: 15px;}
.blockBorder .panel-group {padding: 0 15px;}

.section {position: relative;}
.navBtns {position: absolute; top: -35px; right: 0;}
.navBtns .btn-pill-left, .navBtns .btn-pill-right {
    width: 60px;
    font-size: 0.8rem;
    opacity: 0.8;
    padding: 2px 15px;
}

.servicesTab .section {display: none;}
.servicesTab #section1 {display: block;}

/*****service store***/
.panelStoreSticky {position:fixed; bottom:0;width:100%;left:0;margin:0; z-index:1409;}
.panelStoreSticky.navunfolded {padding-left:260px;}
.panelStoreSticky .panel-heading {position: relative; padding-top: 5px; background-color: #424242;}

.panelStoreSticky .section {overflow-y:auto;}

.panelStoreSticky .panelHeadBtn {position: absolute; top: -40px; left: 50%; transform: translateX(-50%);color: #fff;background-color: #424242; padding: 8px 30px; text-decoration:none; border-top-left-radius: 5px;border-top-right-radius: 5px; font-weight: 400; font-size: 1.2rem;}
.ssArrowAnim {margin-left: 10px;}
.panelStoreSticky .panelHeadBtn > i {margin-left: 5px;}
.headerfilterIncon {width: 100%; position: relative; padding: 0; list-style-type: none;}
.headerfilterIncon > li {display:block; width: 25%; float: left;}
.headerfilterIncon > li > a {display: inline-block; padding:15px 10px; text-decoration: none;}
.headerfilterIncon > li > a {color: #fff;font-size: 0.8rem;}
.headerfilterIncon > li > a > i {display: inline-block;font-size: 1.5rem;vertical-align: bottom; margin-right: 5px;}
.headerfilterIncon > li > a > span {display: inline-block; }


.nav-tabs-vertical .nav-tabs>li>a.tf_btn {position: relative; padding: 10px 0; border-radius: 0;margin-bottom: 0;}

.tf_btn > i { position: absolute; top: 50%; transform: translateY(-50%); left:4%;}
.tf_btn > * {display: block;}
.tf_btn > span {display: block;}
.tf_btn > span > strong{display: block;}

.tf_section {border-bottom: 1px solid #efefef;}
.tf_section .tab-content {position: relative;}
.tf_section .tab-content .tab-pane {position: absolute; top: 0; left: 0; width: 100%; height: 100%;background-color: #eceff1;}
.feattureNote {position: absolute; bottom: 0; left: 0; background-color:rgba(0, 0, 0, 0.6); padding: 10px; color: #fff; width: 100%; margin: 0;}

.middle_text {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 2rem;}

.panelStoreSticky .nav-tabs>li.active>a,.panelStoreSticky .nav-tabs>li.active>a:focus,.panelStoreSticky .nav-tabs>li.active>a:hover {background-color: #1E88E5 !important;}
.nav-tabs-vertical .nav-tabs>li.active:after { content: '';
    position: absolute;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 10px solid #1E88E5;
    border-bottom: 20px solid transparent;
    z-index: 9;}

.s_icon {    border-radius: 50%;
    width: 50px;
    margin: 0 auto 5px auto;
    height: 50px; background-color: #fff; padding: 10px; border: 1px solid #2196f3;display: block;}
.s_icon > i {font-size: 2rem; color: #00bcd4;}
.priceText {font-weight: 500;}
.categoryRight p {margin-bottom: 4px; font-size: 0.95rem;}
.categoryRight p > a {text-decoration: none;}

.panelStoreSticky .section {display: none;}
.panelStoreSticky #sectionBottom1 {display: block;}

.oneserviceLeft > p {margin-bottom: 5px;}

.navBtns.nbBottom {top: 10px; right: 10px;}



/***setup team***/

.createteamTable.table>thead {border-bottom: 1px solid #e0e0e0;}
.createteamTable .tstoreAccess {max-width: 80px; vertical-align: middle; text-align: center;}
.createteamTable .tBtnDelete {max-width: 50px; vertical-align: middle; text-align: center;}
.tBtnDelete span i { font-size: 1.6rem;}


/***landing page***/
.main-view { background: url(../images/newbackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;top: 0;bottom: 0;left: 0;right: 0;display: block;width: 100%;overflow-y: auto;overflow-x: hidden;}


.userImgIcon {    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background-color: #2196F3;
    border-radius: 50%;
    padding: 9px 10px 10px 10px;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    word-spacing: -2px;}

.nav .avatar-online {vertical-align: middle;}

.nav .avatar-online i {right: 3px;
    top: 0;}


/**validation errors**/
.formErrors {font-size: 0.8rem;color: #fe0000;}

/****userdashboard***/


