html{
	height: 100%;
}
body
{
	margin:0 !important;
	padding:0 !important;
}
.main-view { 
/*background: url("../images/newbackground.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: auto;*/
/*background-size: 100% 100%;*/

background: url("../images/newbackground.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
display: block;
width: 100%;
overflow-y: auto;
overflow-x: hidden;
}

.bg
{
	background: #000;
}
/*.main-view
{
	background-image: url("../images/coffee.jpg");
    background-position: center;
	margin:0 !important;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
}*/
.border-navbar{
	border-color: transparent !important;
}

.navbar-bg
{
	background: none;
	border:none;
	padding-top: 2em;
	position: absolute;top: 0;left: 0;width: 100%;z-index: 9;
    box-shadow: none;
}

.navbar-bg li 
{
	padding: 0.5em 0;
	text-align: center;
	color: #fff !important;
}
.navbar-bg li a
{
	color: #eee !important;
}
.navbar-bg li a {border-bottom: 1px solid transparent;}

.navbar-bg li a:hover
{
	border-bottom: 1px solid #fff;
}
.navbar-nav .active a
{
	background: none !important;
}
.navbar-nav a:hover
{
	background: none !important;
}
.navbar-brand
{
	padding: 0.5em auto;
}
.header-tags h1
{
	color: #fff;
	font-size: 4em;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	font-weight: 200;
	font-family: 'Roboto', sans-serif;
}
.header-tags h2
{

	padding-top: 0 !important;
	margin-top: 0 !important;
	font-weight: bold;
	font-size: 3em;
}

.button-block
{
	padding: 5% 0;
}
.button-block a
{
	padding: 0.6em 0.8em;
	/*width: 140px !important;*/
	float: left;
	text-align: center;
	margin-right: 20px;
	border-radius: 0.3em;
}
.bg-blue
{
	border-radius: 30%;
	background: #3398cc;
	color: #fff;
	font-size: 15px;
	border: 1px solid #6d9fc0;
}
.bg-white1
{
	background: #576c82 !important;
	color: #fff;
	font-size: 15px;
	border: 1px solid #6d9fc0;
	opacity: 0.8;
}
.bg-white
{
	background: #fff !important;
	color: #000;
	font-size: 15px;
	/*border: 1px solid #ddd;*/
	opacity: 0.8;
}
.img-block1 img
{
	width: 300px;
	margin-top: 3em;
	opacity: 0.9;
}
/**/
.btn-yellow-block p
{
	color: #fff;
	text-align: center;
	font-size: 16px;
}
.btn-yellow-block a
{
	background: #d6ae3c;
	/*width: 300px;*/
	display: block;
	padding: 0.5em 0;
	color: #000;
	text-align: center;
	margin-bottom: 3em;
	font-size: 18px;
	border-radius: 0.3em;
	/*opacity: 0.8;*/
}
/*.bg-white:hover
{
	border:1px solid #fff !important;
	color: #222;
	background: none;
}*/
.top-menu
{

}
/**for activ menu*

.top-menu .active a
{
    background-color: white;
}*/

/*footer code*/
.bg-grey
{
	background: #cdcdcd !important;
	padding: 1em;
}

.bg-grey input {
  background-color : #fff;
  border-radius: 0.5em;
  padding-left: 0.5em;
}
.type-products p
{
	border: 2px solid #fff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin:0;
}
.type-products span
{
	text-align: center;
}
.bg-grey-block
{
	text-align: center;
	background: #cdcdcd !important;
	padding: 1em;
}
a.bg-grey-block 
{
	color: #222;
	font-size: 1.4em;
}
.demo {
    width:100%;
    height: 150px;
    margin-top: 0;
    background: #cdcdcd;
    z-index:-9;
}
.display-none{
	display: none;
}
.navbar-style{
    border: 0 !important;
    box-shadow: none !important;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.toggle-containt{
	background-color: #fff; 
}
.size-14{
	font-size: 14px;
}
.size-10{
	font-size: 10px;
}
.size-40{
	font-size: 40px;
}
.size-30{
	font-size: 30px;
}
/*.tab-content-bg{
    background-image: url('assets/images/tabs-bg.png') !important;
}*/
.footer-txt{
    position: fixed;
    bottom: 24px;
    background: gray;
    padding: 10px;
    width: 70%;
}
.color-black{
	color: black;
}

.pg_content {width: 100%; position: relative; padding-top: 9%;}

@media (min-width: 768px) {
.navbar-nav>li>a {
    padding-top: 22px;
    padding-bottom: 10px;
}
}
@media only screen and (max-width : 767px) {
	.img-block1 img{
		text-align: center;
		margin: 0 auto; 
	}
	.pg_content { padding-top: 25%;}
	.top-menu {background-color: rgba(0, 0, 0, 0.7);}

	@media only screen and (max-width : 414px) {
		.logo-index{
			margin-top: -18px;
		}
		.img-block1 img{
			width: 100%;
			height: 100%;
		}
		.navbar-brand
		{
			padding: 15px 0px !important;
		}
		.pg_content { padding-top: 30%;}
	}
	
}




#main-div-home .navbar-brand {padding:0 !important;}


.btn:hover {color: initial !important;}
a:hover { text-decoration: none;}



/*.navbar-brand
	{
		padding: 0px !important;
	}*/
