
  <!-- Plugins -->
  <link rel="stylesheet" href="assets/global/vendor/footable/footable.min.css">
  <link rel="stylesheet" href="assets/global/vendor/select2/select2.min.css">
   <link rel="stylesheet" href="assets/common/examples/css/uikit/modals.css">
   <link rel="stylesheet" href="assets/global/vendor/bootstrap-sweetalert/sweet-alert.min.css">
   <link rel="stylesheet" href="assets/common/examples/css/uikit/badges-labels.css">
    <link rel="stylesheet" href="assets/common/examples/css/uikit/buttons.css">
  


<div>
    <!--include header-->
  <div ng-if="vm.isAdmin" class="header" id="header" ng-include src="'./common/admin.header.html'"></div>
  <div ng-if="vm.isUser" class="header" id="header" ng-include src="'./common/user.header.html'"></div>
  <!--header ends-->
  <div class="site-menubar" id="left-bar">
    <div ng-if="vm.isAdmin" class="header" id="header" ng-include src="'./common/admin.sidenav.html'"></div>
    <div ng-if="vm.isUser" class="header" id="header" ng-include src="'./common/user.sidenav.html'"></div>
  </div>
  <!--left sidebar ends-->

  <!-- Page -->
  <div class="page">
    <div class="alert alert-success" role="alert"><p><strong>Team created successfully!</strong></p></div>
    <div class="page-header page-header-bordered">
      <h1 class="page-title">Hello {{vm.user.firstName}}</h1>
      <p class="page-description"  ng-if="selectedTeam">Services Available For {{selectedTeam.teamName}}</p>
    </div>
    <div class="page-content">
      <div class="adminCCContent">
        <div class="panel">
          <div class="panel-body">
            <div class="section blockBorder margin-bottom-20" id="ud_section1" ng-show="selectedTeam===undefined" >
              <form>
                <h3 class="panel-title padding-vertical-10">Select Your Team</h3>
                <div class="form-group form-material padding-horizontal-30 clearfix">
                  <div class="col-sm-6 padding-0">
                    <select ng-options="data.teamName for data in vm.allTeamData" ng-model="selectedTeam" class="form-control price-select">
                        
                    </select>
                    
                  </div>
                </div>
              </form>
            </div>
            <div class="section blockBorder" id="ud_section2" ng-if="selectedTeam">
              <ul class="list-group boxUl">
                <li class="col-sm-6 col-lg-4" ng-repeat="displayData in selectedTeam.serviceStores">
                  <div class="panel panel-bordered box">
                    <div class="panel-heading">
                      <h3 class="panel-title">{{displayData.serviceName}}
                        
                      </h3>
                    </div>
                    <div class="panel-body">
                      <ul class="list-group list-group-full ulList">
                        <li class="list-group-item">{{displayData.serviceDescription}}</li>
                        <li class="list-group-item">{{displayData.serviceFeatures}}</li>
                        <li class="list-group-item">Price:<b>{{displayData.servicePricing}}</b></li>
                      </ul>
                    </div>
                    <div class="panel-footer padding-0">
                      <a ng-click="setSelectedTeam(displayData.url)" class="btn btn-info btn-block waves-effect waves-light padding-10">View</a>
                    </div>
                  </div>
                </li>
                
              </ul>
            </div>
            <!--section1 ends-->
          </div>
        </div>
      </div>


    </div>
  </div>
  <!-- End Page -->
  <!-- Footer -->
  <footer class="site-footer" id="footer"></footer>


<!--service store panel starts-->
<div ng-include src="'./common/service.stores.html'" class="panel panel-bordered panel-primary panelStoreSticky"></div>
<!--service store panel ends-->
  <!-- Modals -->
<div ng-include src="'./common/service.stores.modal.html'" ></div>

  <!-- build:js scripts/app.min.js -->
<!-- Core  -->
  <script src="assets/global/vendor/jquery/jquery.min.js"></script>
  <script src="assets/global/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="assets/global/vendor/asscroll/jquery-asScroll.min.js"></script>
  <script src="assets/global/vendor/mousewheel/jquery.mousewheel.min.js"></script>
  <script src="assets/global/vendor/asscrollable/jquery.asScrollable.all.min.js"></script>
  <script src="assets/global/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
  <script src="assets/global/vendor/waves/waves.min.js"></script>
  <!-- Plugins -->
  <script src="assets/global/vendor/switchery/switchery.min.js"></script>
  <script src="assets/global/vendor/intro-js/intro.min.js"></script>
  <script src="assets/global/vendor/screenfull/screenfull.min.js"></script>
  <script src="assets/global/vendor/slidepanel/jquery-slidePanel.min.js"></script>
  <script src="assets/global/vendor/footable/footable.all.min.js"></script>
  <script src="assets/global/vendor/select2/select2.full.min.js"></script>
  <script src="assets/global/vendor/bootstrap-sweetalert/sweet-alert.min.js"></script>
  <!-- Scripts -->
  <script src="assets/global/js/core.min.js"></script>
  <script src="assets/common/js/site.min.js"></script>
  <script src="assets/common/js/sections/menu.js"></script>
  <script src="assets/common/js/sections/menubar.js"></script>
  <script src="assets/common/js/sections/gridmenu.js"></script>
  <script src="assets/common/js/sections/sidebar.js"></script>
  <script src="assets/global/js/configs/config-colors.min.js"></script>
  <script src="assets/common/js/configs/config-tour.js"></script>
  <script src="assets/global/js/components/asscrollable.min.js"></script>
  <script src="assets/global/js/components/slidepanel.min.js"></script>
  <script src="assets/global/js/components/switchery.min.js"></script>
  <script src="assets/global/js/components/tabs.min.js"></script>
  <script src="assets/common/examples/js/tables/footable.js"></script>
  <script src="assets/global/js/components/select2.min.js"></script>
  <script src="assets/global/js/components/bootstrap-sweetalert.min.js"></script>
  <script src="assets/global/js/plugins/selectable.min.js"></script>
  <script src="assets/global/js/components/selectable.min.js"></script>
  <script>
    (function (document, window, $) {
      'use strict';
      var Site = window.Site;
      $(document).ready(function () {
        Site.run();
      });
    })(document, window, jQuery);


    $('#btndeleteTeamConfirm').on("click", function() {
      swal({
          title: "Confirmed",
          text: "Team deleted successfully",
          type: "success",
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Done',
          timer: 3000
        });
    });

    $('#btnConfirmService').on("click", function() {
      swal({
          title: "Great",
          text: "Your purchase has been successfully added to your account. You will receive an email with your activation and licensing details.",
          type: "success",
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Done',
          timer: 3000
        });
    });

    $("#selectTeam").on("change",function() {
      $("#ud_section2").slideDown();
    });

  </script>
</div>
