
  <link rel="stylesheet" href="assets/common/examples/css/pages/login-v3.css">
  
  
<div class="page-login-v3 layout-full">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Page -->
  <div class="page vertical-align text-center">
    <div class="alert alert-danger" role="alert"><h5>Error !</h5 ><p>Invalid Username or Password</p></div>
    <div class="page-content vertical-align-middle">
      <div class="panel">
        <div class="panel-body">
          <div class="brand">
            <a href="/#!landing:;" ><img class="brand-img" style="width:50px;" src="assets/common/images/logo.png" alt="..."></a>
            <h2 class="brand-text font-size-18">Cognitive Cloud</h2>
          </div>
          <form id="loginForm" name="form" onsubmit="return false">
            <div class="form-group form-material floating">
              <input ng-model="vm.username" type="email" class="form-control" required="true" id="username" name="username">
              <label class="floating-label" for="username">Email</label>
            </div>
            <div class="form-group form-material floating">
              <input ng-model="vm.password" type="password" class="form-control" required="true" id="userpwd" name="userpwd">
              <label class="floating-label" for="userpwd">Password</label>
            </div>
            <div class="form-group clearfix">
              <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-left">
                <input type="checkbox" id="inputCheckbox" name="remember">
                <label for="inputCheckbox">Remember me</label>
              </div>
              <a class="pull-right" href="/#!forgot-init">Forgot password?</a>
            </div>
            <button class="btn btn-primary btn-block btn-lg margin-top-40" ng-click="vm.login()">Sign in</button>
          </form>
          <p>Still no account? Please <a href="/#!register">Register</a></p>
        </div>
      </div>
      <footer class="page-copyright page-copyright-inverse">
        <p>© 2016. All RIGHT RESERVED.</p>
      </footer>
    </div>
  </div>
  <!-- End Page -->
   <!-- Core  -->
  <script src="assets/global/vendor/jquery/jquery.min.js"></script>
  <script src="assets/global/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="assets/global/vendor/asscroll/jquery-asScroll.min.js"></script>
  <script src="assets/global/vendor/mousewheel/jquery.mousewheel.min.js"></script>
  <script src="assets/global/vendor/asscrollable/jquery.asScrollable.all.min.js"></script>
  <script src="assets/global/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
  <script src="assets/global/vendor/waves/waves.min.js"></script>
  <!-- Plugins -->
  <script src="assets/global/vendor/switchery/switchery.min.js"></script>
  <script src="assets/global/vendor/intro-js/intro.min.js"></script>
  <script src="assets/global/vendor/screenfull/screenfull.min.js"></script>
  <script src="assets/global/vendor/slidepanel/jquery-slidePanel.min.js"></script>
  <script src="assets/global/vendor/jquery-placeholder/jquery.placeholder.min.js"></script>
  <script src="assets/global/vendor/formvalidation/formValidation.min.js"></script>
  <script src="assets/global/vendor/formvalidation/framework/bootstrap.min.js"></script>
  <!-- Scripts -->
  <script src="assets/global/js/core.min.js"></script>
  <script src="assets/common/js/site.min.js"></script>
  <script src="assets/common/js/sections/menu.js"></script>
  <script src="assets/common/js/sections/menubar.js"></script>
  <script src="assets/common/js/sections/gridmenu.js"></script>
  <script src="assets/common/js/sections/sidebar.js"></script>
  <script src="assets/global/js/configs/config-colors.min.js"></script>
  <script src="assets/common/js/configs/config-tour.js"></script>
  <script src="assets/global/js/components/asscrollable.min.js"></script>
  <script src="assets/global/js/components/slidepanel.min.js"></script>
  <script src="assets/global/js/components/switchery.min.js"></script>
  <script src="assets/global/js/components/tabs.min.js"></script>
  <script src="assets/global/js/components/jquery-placeholder.min.js"></script>
  <script src="assets/global/js/components/material.min.js"></script>
  <script src="assets/common/examples/js/forms/validation.min.js"></script>

  <!--added common js file-->
  <script src="assets/common/js/common.js"></script>
<script>
    /** this function will initialise the template***/
    (function (document, window, $) {
      'use strict';
      var Site = window.Site;
      $(document).ready(function () {
        Site.run();
        validateLoginForm();
      });
    })(document, window, jQuery);
  </script>
  <!--page related js files ends-->
  <script>
  function validateLoginForm() {
    $('#loginForm').formValidation({
        framework: 'bootstrap',
        // List of fields and their validation rules
        fields: {
            username: {
                validators: {
                    notEmpty: {
                        message: 'The username is required and cannot be empty'
                    },
                    emailAddress: {
                        message: 'The value is not a valid email address'
                    }
                }
            },
            userpwd: {
                validators: {
                    notEmpty: {
                        message: 'The password is required and cannot be empty'
                    },
                    stringLength: {
                        min: 6,
                        message: 'The password must be more than 6 characters long'
                    }
                }
            }
        }
    });
  }
    
  </script>
</div>