
  
  
  <link rel="stylesheet" href="assets/common/examples/css/pages/login-v3.css">
 
<div class="page-login-v3 layout-full">
  <div class="header" id="header">
    <nav class="site-navbar navbar navbar-inverse navbar-fixed-top navbar-mega" role="navigation">
      <div class="navbar-header">
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu" onclick="window.location.href='/#!landing'">
            <img class="navbar-brand-logo" src="assets/common/images/logo.png" title="Cognitive Cloud">
            <span class="navbar-brand-text hidden-xs"> Cognitive Cloud</span>
        </div>
      </div>
    </nav>
  </div>
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Page -->
  <div class="page">
    <div class="page-content" style="background-color:#f3f4f5;">
      <div class="example-wrap">
            
            <div class="example" style="    width: 90%;
    margin: 0 auto;">
    <h2 style="margin-bottom:20px;">Choose your plan</h2>
              <div class="row">
                
                <div class="col-sm-6 col-lg-4">
                  <div class="pricing-list text-left">
                    <div class="pricing-header bg-blue-600" style="text-align: center;">
                      <div class="pricing-title">Individual</div>
                      <div class="pricing-price">
                        <span class="pricing-currency">$</span>
                        <span class="pricing-amount">20</span>
                      </div>
                      <p class="padding-horizontal-30 padding-bottom-25">For Single User</p>
                    </div>
                    <ul class="pricing-features">
                      <li>
                        New Cloud System</li>
                      <li>
                        Sync to Desktop</li>
                      <li>
                        Guaranteed</li>
                      <li>
                        Upload Speed</li>
                      <li>
                        Download Speed</li>
                      
                    </ul>
                    <div class="pricing-footer text-center bg-grey-300">
                      <a class="btn btn-primary btn-lg"  href="/#!login"><i class="icon md-long-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i> Start Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="pricing-list text-left">
                    <div class="pricing-header bg-red-600" style="text-align: center;">
                      <div class="pricing-title">Team</div>
                      <div class="pricing-price">
                        <span class="pricing-currency">$</span>
                        <span class="pricing-amount">49</span>
                      </div>
                      <p class="padding-horizontal-30 padding-bottom-25">For2-10 users</p>
                    </div>
                    <ul class="pricing-features">
                      <li>
                        New Cloud System</li>
                      <li>
                        Sync to Desktop</li>
                      <li>
                        Guaranteed</li>
                      <li>
                        Upload Speed</li>
                      <li>
                        Download Speed</li>
                      
                    </ul>
                    <div class="pricing-footer text-center bg-grey-300">
                      <a class="btn btn-primary btn-lg" href="/#!login"><i class="icon md-long-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i> Start Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="pricing-list text-left">
                    <div class="pricing-header bg-orange-600">
                      <div class="pricing-title">Custom</div>
                      
                      <p class="padding-horizontal-30 padding-bottom-25">For large teams having more than 10 users get in touch with us to design your very own custom plan.</p>
                    </div>
                    <div class="pricing-features" style="padding:15px;" >
                      <p align="left" style="padding:0 15px;">Contact us for pricing on</p>
                    <p align="left" style="padding:0 15px;"><a class="a_link" href="mailto:support@qctp.com">support@qctp.com</a></p>
                      
                      
                    </div>
                    <div class="pricing-footer text-center bg-grey-300">
                      <a class="btn btn-primary btn-lg"  href="/#!login"><i class="icon md-long-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i> Start Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  <!-- End Page -->
  <!-- Core  -->
  <script src="assets/global/vendor/jquery/jquery.min.js"></script>
  <script src="assets/global/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="assets/global/vendor/asscroll/jquery-asScroll.min.js"></script>
  <script src="assets/global/vendor/mousewheel/jquery.mousewheel.min.js"></script>
  <script src="assets/global/vendor/asscrollable/jquery.asScrollable.all.min.js"></script>
  <script src="assets/global/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
  <script src="assets/global/vendor/waves/waves.min.js"></script>
  <!-- Plugins -->
  <script src="assets/global/vendor/switchery/switchery.min.js"></script>
  <script src="assets/global/vendor/intro-js/intro.min.js"></script>
  <script src="assets/global/vendor/screenfull/screenfull.min.js"></script>
  <script src="assets/global/vendor/slidepanel/jquery-slidePanel.min.js"></script>
  <!-- Scripts -->
  <script src="assets/global/js/core.min.js"></script>
  <script src="assets/common/js/site.min.js"></script>
  <script src="assets/common/js/sections/menu.js"></script>
  <script src="assets/common/js/sections/menubar.js"></script>
  <script src="assets/common/js/sections/gridmenu.js"></script>
  <script src="assets/common/js/sections/sidebar.js"></script>
  <script src="assets/global/js/configs/config-colors.min.js"></script>
  <script src="assets/common/js/configs/config-tour.js"></script>
  <script src="assets/global/js/components/asscrollable.min.js"></script>
  <script src="assets/global/js/components/slidepanel.min.js"></script>
  <script src="assets/global/js/components/switchery.min.js"></script>
  <script src="assets/global/js/components/tabs.min.js"></script>
  <script src="assets/global/js/components/material.min.js"></script>
  <script>
  (function(document, window, $) {
    'use strict';
    var Site = window.Site;
    $(document).ready(function() {
      Site.run();
    });
  })(document, window, jQuery);
  </script>
</div>