

  <!-- Plugins -->
  <link rel="stylesheet" href="assets/global/vendor/footable/footable.min.css">
  <link rel="stylesheet" href="assets/global/vendor/select2/select2.min.css">
   <link rel="stylesheet" href="assets/common/examples/css/uikit/modals.css">
   <link rel="stylesheet" href="assets/global/vendor/bootstrap-sweetalert/sweet-alert.min.css">
   <link rel="stylesheet" href="assets/common/examples/css/uikit/badges-labels.css">
    <link rel="stylesheet" href="assets/common/examples/css/uikit/buttons.css">

<div>
  
  <!--include header-->
  <div ng-if="vm.isAdmin" class="header" id="header" ng-include src="'/common/admin.header.html'"></div>
  <div ng-if="vm.isUser" class="header" id="header" ng-include src="'/common/user.header.html'"></div>
  <!--header ends-->
  <div class="site-menubar" id="left-bar">
    <div ng-if="vm.isAdmin" class="header" id="header" ng-include src="'/common/admin.sidenav.html'"></div>
    <div ng-if="vm.isUser" class="header" id="header" ng-include src="'/common/user.sidenav.html'"></div>
  </div>
  <!--left sidebar ends-->
  <!-- Page -->
  <div class="page">
    <div class="alert alert-success" role="alert"><p><strong>Team created successfully!</strong></p></div>
    <div class="page-header page-header-bordered">
      <h1 class="page-title">My Control Center</h1>
      <p class="page-description">You can manage your People and Services information here. <a class="link" href="/#!plans"> (<u>Upgrade Plan</u>)</a></p>
    </div>
    <div class="page-content">
      
      <div class="adminCCContent">
        <div class="nav-tabs-horizontal nav-tabs-inverse nav-tabs-animate">
          <ul class="nav nav-tabs nav-tabs-solid" data-plugin="nav-tabs" role="tablist">
            <li class="active" role="presentation">
              <a data-toggle="tab" href="javascript:;" data-target="#teamsTab" aria-controls="teamsTab" role="tab">
                <i class="icon md-account" aria-hidden="true"></i>People(10)
              </a>
            </li>
            <li role="presentation">
              <a data-toggle="tab" href="javascript:;" data-target="#servicesTab" aria-controls="servicesTab" role="tab">
                <i class="icon ion-social-buffer" aria-hidden="true"></i>Services(1)
              </a>
            </li>

          </ul>
          <div class="tab-content">
            <div class="tab-pane active animation-slide-left" id="teamsTab" role="tabpanel">
              <h5 class="text-uppercase">Displaying <i>({{allTeamData.length}})</i> Teams Added by You</h5>
              <div class="panel-group margin-vertical-20" id="accordion-control" aria-multiselectable="true" role="tablist" ng-init="getAllTeam()">

                <div class="panel margin-bottom-10" ng-repeat="data in allTeamData">
                  <div class="panel-heading pnlTblHead" id="teamHeadingDefaultOne" role="tab">
                    <div class="panel-actions">
                      <span class="btn-edit btnEdit" ng-click="makeTeamEditable(data,$index)"><i class="ion-edit"></i></span>
                      <span class="btn-edit" ng-click="deleteTeam(data.id)"><i class="ion-ios-trash-outline"></i></span>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <a class="panel-title " data-toggle="collapse" data-parent="#accordion-control" href="javascript:;" ng-click="accordiontoggle($index)"
                                      ng-attr-data-target="{{'accordion-control-'+$index}}" ng-attr-aria-controls="{{'accordion-control-'+$index}}">
                              <strong>{{data.teamName}}</strong>
                            </a>
                      </div>
                      <div class="col-sm-3">
                        {{data.teamDescription}}
                      </div>
                      <div class="col-sm-4">
                        Created: {{data.dateCreated | date:'medium'}}
                      </div>
                      <!--<div class="col-sm-3">
                        <div class="checkbox-custom checkbox-default">
                          <input type="checkbox" name="inputCheckboxes" id="inputChecked1" checked="">
                          <label for="inputChecked1">Remove Store Access</label>
                        </div>
                      </div>-->
                    </div>
                  </div>
                  <!-- ng-attr-id="{{ 'object-' + myScopeObject.index }}" -->
                  <div class="panel-collapse " ng-attr-id="{{'accordion-control-'+$index}}">
                    <div class="panel-body">
                      <fieldset ng-attr-id="{{ 'fieldsetEdit-' + myScopeObject.index }}" ng-disabled="!data.isTeamEnabled">
                        <table class="table table-bordered table-hover toggle-circle teamTable" data-paging="false" data-filtering="false" data-sorting="false"
                          data-show-toggle="false">
                          <thead>
                            <tr>
                              <th data-sort-ignore="true" data-toggle="true">First Name</th>
                              <th data-sort-ignore="true" data-toggle="true">Last Name</th>
                              <th data-sort-ignore="true">Work Email Addresses</th>
                              <th data-hide="phone, tablet" data-sort-ignore="true">Assign Credit Limit(USD)</th>
                              <th data-hide="phone, tablet" data-sort-ignore="true">Store Access</th>
                              <th data-hide="phone, tablet" data-sort-ignore="true">Delete</th>
                            </tr>
                          </thead>
                          <tbody id="{{data.id}}">
                            <tr ng-repeat="displayData in data.teamUsers ">
                              <td class="firstName">
                                <div class="form-group form-material floating">
                                  <input type="hidden" id="userId12" value="{{displayData.id}}" />
                                  <input type="text" title="Enter only letters" placeholder="Enter First Name" class="form-control" ng-model="displayData.user.firstName">
                                </div>
                              </td>
                              <td class="lastName">
                                <div class="form-group form-material floating">
                                  <input type="text" title="Enter only letters" placeholder="Enter Last Name" class="form-control" ng-model="displayData.user.lastName">
                                </div>
                              </td>
                              <td class="email">
                                <div class="form-group form-material floating">
                                  <input type="email" placeholder="Enter Email Address" class="form-control" ng-model="displayData.user.login">
                                </div>
                              </td>
                              <td class="price">
                                <div class="form-group form-material floating">
                                  <select class="form-control price-select" data-plugin="select2" data-placeholder="Select" data-allow-clear="true" ng-model="displayData.creditLimit">
                                        <option></option>
                                        <option ng-selected="displayData.creditLimit == 1000" ng-value="1000">1000</option>
                                        <option ng-selected="displayData.creditLimit == 300" ng-value="300">300</option>
                                        <option ng-selected="displayData.creditLimit == 400" ng-value="400">400</option>
                                        <option ng-selected="displayData.creditLimit == 200" ng-value="200">200</option>
                                        <option ng-selected="displayData.creditLimit == 100" ng-value="100">100</option>
                                        <option ng-selected="displayData.creditLimit == 0" ng-value="0">0</option>
                                    </select>
                                </div>
                              </td>
                              <td class="storeAccess">
                                <div class="checkbox-custom checkbox-primary">
                                  <input ng-if="displayData.storeAccess == true" id="checkbox1id" type="checkbox" checked="checked" ng-model="displayData.storeAccess">
                                  <input ng-if="displayData.storeAccess == false || displayData.storeAccess == undefined" id="checkbox1id" type="checkbox" checked="" ng-model="displayData.storeAccess">
                                  <label for="checkbox1id"></label>
                                </div>
                              </td>
                              <td class="tBtnDelete">
                                <a href="javascript:;" ng-click="removeTeamUser($parent.$index,displayData)"><i class="ion-ios-trash-outline" ></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </fieldset>
                      <button type="button" class="btn btn-dark waves-effect waves-light" id="btnAddNewMembers" ng-click="addTeamUser($index)"><i class="icon md-plus" aria-hidden="true"></i> Add More</button>
                      <div class="clearfix text-center margin-top-20">
                        <button type="button" class="btn btn-default waves-effect waves-light margin-right-10" ng-click="resetTeamsEdit()">Cancel</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light" id="btnSaveNewTeam" ng-click="editTeam($index,data.id)">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--teams data ends-->
              </div>
            </div>
            <!--tab1 ends-->
            <div class="tab-pane animation-slide-left servicesTab" id="servicesTab" role="tabpanel">
              <h5 class="text-uppercase">You have (<span>02</span>) teams consuming (<span>02</span>) runtime services/capabilities</h5>
              <div class="section blockBorder" id="section1">
                <ul class="list-group boxUl">
                  <li class="col-sm-6 col-lg-4">
                    <div class="panel panel-bordered box">
                      <div class="panel-heading">
                        <h3 class="panel-title">Mobility
                          <div class="panel-actions">
                            <a class="panel-action margin-0 padding-0 font-size-24" data-target="#modalServiceInfo" data-toggle="modal"
                              aria-hidden="true"><i class="icon ion-ios-eye margin-0" aria-hidden="true"></i></a>
                          </div>
                        </h3>
                      </div>
                      <div class="panel-body text-center">
                        <div class="row no-space">
                          <div class="col-xs-6">
                              <p class="blockItem">
                              <i class="icon ion-social-buffer" aria-hidden="true"></i>
                              <span class="badge up badge-info">02</span>
                              </p>
                              <p>Services</p>
                          </div>
                          <div class="col-xs-6">
                              <p class="blockItem">
                              <i class="icon ion-ios-people" aria-hidden="true"></i>
                              <span class="badge up badge-info">02</span>
                              </p>
                              <p>Team</p>
                          </div>
                      </div>
                      </div>
                      <div class="panel-footer padding-0">
                        <button type="button" class="btn btn-info btn-block waves-effect waves-light padding-10" onclick="showServiceTopScreen('section2')">View</button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!--section1 ends-->
              <div class="section blockBorder" id="section2">
                <div class="navBtns">
                  <button type="button" class="btn btn-round btn-primary btn-pill-left waves-effect waves-round waves-light" onclick="showServiceTopScreen('section1')">Prev</button>
                  <button type="button" class="btn btn-round btn-primary btn-pill-right waves-effect waves-round waves-light" onclick="showServiceTopScreen('section3')">Next</button>
                </div>
                <ul class="list-group boxUl">
                  <li class="col-sm-6 col-lg-4">
                    <div class="panel panel-bordered box">
                      <div class="panel-heading">
                        <h3 class="panel-title">Mobility
                          <div class="panel-actions">
                            <a class="panel-action margin-0 padding-0 font-size-24" data-target="#modalServiceInfo" data-toggle="modal"
                              aria-hidden="true"><i class="icon ion-ios-eye margin-0" aria-hidden="true"></i></a>
                          </div>
                        </h3>
                      </div>
                      <div class="panel-body text-center">
                        <div class="row no-space">
                          <div class="col-xs-6 col-xs-offset-3">
                              <p class="blockItem">
                              <i class="icon ion-social-buffer" aria-hidden="true"></i>
                              <span class="badge up badge-info">02</span>
                              </p>
                              <p>Services</p>
                          </div>
                      </div>
                      </div>
                      <div class="panel-footer padding-0">
                        <button type="button" class="btn btn-info btn-block waves-effect waves-light padding-10" onclick="showServiceTopScreen('section3')">View</button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!--section2 ends-->
              <div class="section blockBorder" id="section3">
                <div class="navBtns">
                  <button type="button" class="btn btn-round btn-primary btn-pill-left waves-effect waves-round waves-light" onclick="showServiceTopScreen('section2')">Prev</button>
                  <button type="button" class="btn btn-round btn-primary btn-pill-right waves-effect waves-round waves-light disabled">Next</button>
                </div>
                <!--team using services start-->
                <div class="panel-group margin-vertical-20" id="servicesaccordion-control" aria-multiselectable="true" role="tablist">
                <div class="panel margin-bottom-10">
                  <div class="panel-heading pnlTblHead" id="teamServicesHeadingDefaultOne" role="tab">
                    <div class="panel-actions">
                      <span class="btn-edit btnEdit"><i class="ion-edit"></i></span>
                      <span class="btn-edit"><i class="ion-ios-trash-outline" data-target="#modalDeleteTeam" data-toggle="modal"></i></span>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <a class="panel-title" data-toggle="collapse" href="javascript:;" data-target="#servicesteamData1" data-parent="#servicesaccordion-control" aria-expanded="true"
                          aria-controls="servicesteamData1">
                              Test Management
                            </a>
                      </div>
                      <div class="col-sm-4">
                        Created: Jan 10, 2017, 03:00 hrs EST
                      </div>
                      <div class="col-sm-3">
                        <div class="checkbox-custom checkbox-default">
                          <input type="checkbox" name="inputCheckboxes" id="inputChecked1" checked="">
                          <label for="inputChecked1">Remove Store Access</label>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="panel-collapse collapse in" id="servicesteamData1" aria-labelledby="teamServicesHeadingDefaultOne" role="tabpanel">
                    <div class="panel-body">
                      <table class="table table-bordered table-hover toggle-circle teamTable" data-paging="false" data-filtering="false" data-sorting="false"
                        data-show-toggle="false">
                        <thead>
                          <tr>
                            <th data-sort-ignore="true" data-toggle="true">Team Member Names</th>
                            <th data-sort-ignore="true">Their Work Email Addresses</th>
                            <th data-hide="phone, tablet" data-sort-ignore="true">Assign Credit Limit(USD)</th>
                            <th data-hide="phone, tablet" data-sort-ignore="true">Store Access</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="text" placeholder="Enter Full Name" class="form-control" value="John Doe">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="email" placeholder="Enter Email Address" class="form-control" value="johndoe@nt.com">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <select class="form-control price-select" data-plugin="select2" data-placeholder="Select" data-allow-clear="true">
                                        <option></option>
                                        <option>1000.00</option>
                                        <option>500.00</option>
                                        <option>400.00</option>
                                        <option>200.00</option>
                                        <option>00.00</option>
                                    </select>
                              </div>
                            </td>
                            <td>
                              <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" id="checkbox1" checked="">
                                <label for="checkbox1"></label>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="text" placeholder="Enter Full Name" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="email" placeholder="Enter Email Address" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <select class="form-control price-select" data-plugin="select2" data-placeholder="Select" data-allow-clear="true">
                                        <option></option>
                                        <option>1000.00</option>
                                        <option>500.00</option>
                                        <option>400.00</option>
                                        <option>200.00</option>
                                        <option>00.00</option>
                                    </select>
                              </div>
                            </td>
                            <td>
                              <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" id="checkbox2">
                                <label for="checkbox2"></label>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="text" placeholder="Enter Full Name" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="email" placeholder="Enter Email Address" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <select class="form-control price-select" data-plugin="select2" data-placeholder="Select" data-allow-clear="true">
                                        <option></option>
                                        <option>1000.00</option>
                                        <option>500.00</option>
                                        <option>400.00</option>
                                        <option>200.00</option>
                                        <option>00.00</option>
                                    </select>
                              </div>
                            </td>
                            <td>
                              <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" id="checkbox3">
                                <label for="checkbox3"></label>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="text" placeholder="Enter Full Name" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="email" placeholder="Enter Email Address" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <select class="form-control price-select" data-plugin="select2" data-placeholder="Select" data-allow-clear="true">
                                        <option></option>
                                        <option>1000.00</option>
                                        <option>500.00</option>
                                        <option>400.00</option>
                                        <option>200.00</option>
                                        <option>00.00</option>
                                    </select>
                              </div>
                            </td>
                            <td>
                              <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" id="checkbox4">
                                <label for="checkbox4"></label>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="text" placeholder="Enter Full Name" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="email" placeholder="Enter Email Address" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <select class="form-control price-select" data-plugin="select2" data-placeholder="Select" data-allow-clear="true">
                                        <option></option>
                                        <option>1000.00</option>
                                        <option>500.00</option>
                                        <option>400.00</option>
                                        <option>200.00</option>
                                        <option>00.00</option>
                                    </select>
                              </div>
                            </td>
                            <td>
                              <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" id="checkbox5">
                                <label for="checkbox5"></label>
                              </div>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="panel margin-bottom-10">
                  <div class="panel-heading pnlTblHead" id="servicesteamHeadingDefaultTwo" role="tab">
                    <div class="panel-actions">
                      <span class="btn-edit btnEdit"><i class="ion-edit"></i></span>
                      <span class="btn-edit"><i class="ion-ios-trash-outline" data-target="#modalDeleteTeam" data-toggle="modal"></i></span>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <a class="panel-title" data-toggle="collapse" href="javascript:;" data-target="#servicesteamData2" data-parent="#servicesaccordion-control" aria-expanded="true"
                          aria-controls="servicesteamData2">
                              Test Automation
                            </a>
                      </div>
                      <div class="col-sm-4">
                        Created: March 21, 2017, 07:00 hrs EST
                      </div>
                      <div class="col-sm-3">
                        <div class="checkbox-custom checkbox-default">
                          <input type="checkbox" name="inputCheckboxes" id="inputChecked1" checked="">
                          <label for="inputChecked1">Remove Store Access</label>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="panel-collapse collapse" id="servicesteamData2" aria-labelledby="servicesteamHeadingDefaultTwo" role="tabpanel">
                    <div class="panel-body">
                      <table class="table table-bordered table-hover toggle-circle teamTable" data-paging="false" data-filtering="false" data-sorting="false"
                        data-show-toggle="false">
                        <thead>
                          <tr>
                            <th data-sort-ignore="true" data-toggle="true">Team Member Names</th>
                            <th data-sort-ignore="true">Their Work Email Addresses</th>
                            <th data-hide="phone, tablet" data-sort-ignore="true">Assign Credit Limit(USD)</th>
                            <th data-hide="phone, tablet" data-sort-ignore="true">Store Access</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="text" placeholder="Enter Full Name" class="form-control" value="John Doe">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="email" placeholder="Enter Email Address" class="form-control" value="johndoe@nt.com">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <select class="form-control price-select" data-plugin="select2" data-placeholder="Select" data-allow-clear="true">
                                        <option></option>
                                        <option>1000.00</option>
                                        <option>500.00</option>
                                        <option>400.00</option>
                                        <option>200.00</option>
                                        <option>00.00</option>
                                    </select>
                              </div>
                            </td>
                            <td>
                              <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" id="checkbox1" checked="">
                                <label for="checkbox1"></label>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="text" placeholder="Enter Full Name" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="email" placeholder="Enter Email Address" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <select class="form-control price-select" data-plugin="select2" data-placeholder="Select" data-allow-clear="true">
                                        <option></option>
                                        <option>1000.00</option>
                                        <option>500.00</option>
                                        <option>400.00</option>
                                        <option>200.00</option>
                                        <option>00.00</option>
                                    </select>
                              </div>
                            </td>
                            <td>
                              <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" id="checkbox2">
                                <label for="checkbox2"></label>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="text" placeholder="Enter Full Name" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="email" placeholder="Enter Email Address" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <select class="form-control price-select" data-plugin="select2" data-placeholder="Select" data-allow-clear="true">
                                        <option></option>
                                        <option>1000.00</option>
                                        <option>500.00</option>
                                        <option>400.00</option>
                                        <option>200.00</option>
                                        <option>00.00</option>
                                    </select>
                              </div>
                            </td>
                            <td>
                              <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" id="checkbox3">
                                <label for="checkbox3"></label>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="text" placeholder="Enter Full Name" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="email" placeholder="Enter Email Address" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <select class="form-control price-select" data-plugin="select2" data-placeholder="Select" data-allow-clear="true">
                                        <option></option>
                                        <option>1000.00</option>
                                        <option>500.00</option>
                                        <option>400.00</option>
                                        <option>200.00</option>
                                        <option>00.00</option>
                                    </select>
                              </div>
                            </td>
                            <td>
                              <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" id="checkbox4">
                                <label for="checkbox4"></label>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="text" placeholder="Enter Full Name" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <input type="email" placeholder="Enter Email Address" class="form-control">
                              </div>
                            </td>
                            <td>
                              <div class="form-group form-material floating">
                                <select class="form-control price-select" data-plugin="select2" data-placeholder="Select" data-allow-clear="true">
                                        <option></option>
                                        <option>1000.00</option>
                                        <option>500.00</option>
                                        <option>400.00</option>
                                        <option>200.00</option>
                                        <option>00.00</option>
                                    </select>
                              </div>
                            </td>
                            <td>
                              <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" id="checkbox5">
                                <label for="checkbox5"></label>
                              </div>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
                <!--team using services ends-->
              </div>
              <!--section3 ends-->
            </div>
            <!--tab2 ends-->
          </div>
        </div>
      </div>


    </div>
  </div>
  <!-- End Page -->
  <!-- Footer -->
  <footer class="site-footer" id="footer"></footer>

  <!--service store panel starts-->
  
<div ng-include src="'/common/service.stores.html'" class="panel panel-bordered panel-primary panelStoreSticky"></div>
 
<!--service store panel ends-->
  <!-- Modals -->
<div ng-include src="'/common/service.stores.modal.html'" ></div>

  <!-- Core  -->
  <script src="assets/global/vendor/jquery/jquery.min.js"></script>
  <script src="assets/global/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="assets/global/vendor/asscroll/jquery-asScroll.min.js"></script>
  <script src="assets/global/vendor/mousewheel/jquery.mousewheel.min.js"></script>
  <script src="assets/global/vendor/asscrollable/jquery.asScrollable.all.min.js"></script>
  <script src="assets/global/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
  <script src="assets/global/vendor/waves/waves.min.js"></script>
  <!-- Plugins -->
  <script src="assets/global/vendor/switchery/switchery.min.js"></script>
  <script src="assets/global/vendor/intro-js/intro.min.js"></script>
  <script src="assets/global/vendor/screenfull/screenfull.min.js"></script>
  <script src="assets/global/vendor/slidepanel/jquery-slidePanel.min.js"></script>
  <script src="assets/global/vendor/footable/footable.all.min.js"></script>
  <script src="assets/global/vendor/select2/select2.full.min.js"></script>
  <script src="assets/global/vendor/bootstrap-sweetalert/sweet-alert.min.js"></script>
  <!-- Scripts -->
  <script src="assets/global/js/core.min.js"></script>
  <script src="assets/common/js/site.min.js"></script>
  <script src="assets/common/js/sections/menu.js"></script>
  <script src="assets/common/js/sections/menubar.js"></script>
  <script src="assets/common/js/sections/gridmenu.js"></script>
  <script src="assets/common/js/sections/sidebar.js"></script>
  <script src="assets/global/js/configs/config-colors.min.js"></script>
  <script src="assets/common/js/configs/config-tour.js"></script>
  <script src="assets/global/js/components/asscrollable.min.js"></script>
  <script src="assets/global/js/components/slidepanel.min.js"></script>
  <script src="assets/global/js/components/switchery.min.js"></script>
  <script src="assets/global/js/components/tabs.min.js"></script>
  <script src="assets/common/examples/js/tables/footable.js"></script>
  <script src="assets/global/js/components/select2.min.js"></script>
  <script src="assets/global/js/components/bootstrap-sweetalert.min.js"></script>
  <script src="assets/global/js/plugins/selectable.min.js"></script>
  <script src="assets/global/js/components/selectable.min.js"></script>
  <script src="assets/common/js/common.js"></script>
  <script>
    (function (document, window, $) {
      'use strict';
      var Site = window.Site;
      $(document).ready(function () {
        Site.run();
      });
    })(document, window, jQuery);


    $('#btndeleteTeamConfirm').on("click", function() {
      swal({
          title: "Confirmed",
          text: "Team deleted successfully",
          type: "success",
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Done',
          timer: 3000
        });
    });

    $('#btnConfirmService').on("click", function() {
      swal({
          title: "Great",
          text: "Your purchase has been successfully added to your account. You will receive an email with your activation and licensing details.",
          type: "success",
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Done',
          timer: 3000
        });
    });

  </script>
</div>
