
.mobilityContent .pearls .pearl:first-child {margin-left: 8.3333%;}
.mobilityContent .pearls .pearl:last-child {margin-right: 8.3333%;}

.block {background-color: rgba(238,238,238,.3); border: 1px solid #ddd; padding: 15px;}

.form-group input[type="radio"] {outline: none; border: 0;}

.sectionNavBtns {width: 100%; text-align: center; margin-top: 22px;}
.sectionNavBtns > a {margin-right: 10px;}
.sectionNavBtns > a:last-child {margin-right: 0;}

.fileUploadedDetails.panel {display: none;}
.panel-grey.panel .panel-heading {    background: #efedee !important;
    border-bottom: 1px solid #ddd !important;}
.panel-actions {
    font-size: 1rem;
}
.icon {font-size: 1.3rem;    vertical-align: middle;}
.icon.ion-social-android-outline {    color: green;
    font-size: 1.5rem;
    vertical-align: text-bottom; margin-right: 10px;}
.fileUploadedDetails.panel .wizard-buttons {display: none !important;}

a.panel-title {padding: 15px;}
a.panel-title:focus, a.panel-title:hover {
    color: inherit;
    text-decoration: none;
}
.fileUploadedDetails.panel .panel-body .row > .col-sm-4 > p {font-weight: 500;}

.panel-actions {right: 15px;}



.wellSuccess { position: relative;padding: 10px 10px 10px 45px; background: #B9F6CA;}
.wellSuccess i {    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 2rem;}



.deviceDesc {padding: 0 15px;}

.deviceDesc .row {padding-top:5px; padding-bottom: 5px;}
.deviceDesc .row .col-sm-5 {border-right: 1px solid #e0e0e0;}

.tHeader th {
    background: #efedee !important;
    border-bottom: 1px solid #ddd !important;
}

.bgWhite {background-color: #fff;}

.reviewInfo .form-group .input-group-btn {vertical-align: top;}

.visiblityHidden {    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;}

.pearlBeforeLast.pearl:after {content: ""; display: none;}

.msection6 > h3 { border-bottom: 1px solid #ddd; padding-bottom: 0px; margin-bottom: 20px;}

.executionResult {display: none;}

.progressStatus {    min-height: 300px;
    padding-top: 8%;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;}
.resultProgressbar {margin-bottom: 10px;background-color: green;}
.progressText {text-align: center;} 
.testNo {font-weight: bold;}
.percentVal {text-align: center; margin: 0;}
.percentVal span {font-size: 2rem;}

.s1Content {display: none;}


.wizard-buttons {    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;}
.mSection1 .pgnavBtns {display: none;}
.pgnavBtns {margin: 20px 0; text-align: center;}

 .pgnavBtns .btnBack {    margin-right: 10px;}

 .deviceDetails.table td .label{display: block;width: 40px; margin: 0 auto; height: 15px;}
  .deviceDetails.table td {vertical-align: middle;}

.statusDiv {max-width: 100%; text-align: center; margin: 0 auto;}

.circle {width: 50px; height: 50px; border-radius: 50%; display: inline-block; position: relative;}
  .borderRed {border:1px solid red; color:red;opacity: 0.2; }
  .borderOrange {border:1px solid orange; color:orange;opacity: 0.2;}
  .borderGreen {border:1px solid green;color: green;opacity: 0.2; }
  

.circle.active { -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate; opacity:1; }
.statusDiv p {font-size: 0.9rem;}

 .circle i { font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);}


@-webkit-keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
  }
}

.bgRed {background-color: red; }
  .bgOrange {background-color: orange; }
  .bgGreen {background-color: green;}

/**device table***/
.scrollTableParent {overflow-x: auto;}
.scrollTableParent .table>thead>tr>th {min-width: 100px; max-width: 100px; width: 100px;}
.scrollTableParent .table>thead>tr>th:first-child {min-width: 150px; max-width: none; width: 150px;}

.scrollTableParent .table>tbody>tr>td {position: relative;padding: 1%;  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}
.scrollTableParent .deviceDetails.table td .label {    width: 98%;
    height: 98%;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 49%;
    left: 49%;
    transform: translate(-49%,-49%);    padding: 8px;
    font-size: 1rem;
    border-radius: 0;
    font-weight: 300; opacity: 0.75; transition:  transform 0.4s linear; cursor: pointer;}

.scrollTableParent .deviceDetails.table td .label:hover {opacity: 1;transform: translate(-49%,-49%) rotateX(25deg);}

.scrollTableParent .deviceDetails.table td .label > i {    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);     font-style: normal;}
.scrollTableParent .deviceDetails.table td .label > i:after {content: "+";margin-left: 10px;}

.error {color: #fe0000; font-size: 0.8rem; margin-bottom: 5px; display: none;}

.panel-group .panel-title:after, .panel-group .panel-title:before {visibility: visible; top:auto;right: 15px; left:auto;}

.ion-ios-close-outline{
  color:  #fe0000;
}


.displayData{
      background: black;
    color: green;
    text-align: left;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}