

.roleCheckBox {position: relative;}
.roleCheckBox input {    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0; opacity: 0; z-index: 1; }

.tableRoles td {text-align: center;}

.roleCheckBox i {    position: relative;
    display: inline-block;
    font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    text-rendering: auto;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}

.roleCheckBox i:before {
    content: "\f12a";
}
.roleCheckBox i.rActive:before {
    content: "\f122";
}