<link rel="stylesheet" href="assets/common/examples/css/pages/login-v3.css">


<div class="page-login-v3 layout-full">



  <!--app header ends-->

  <div class="alert alert-success" role="alert">
    <h5>Thank You !</h5>
    <p>Your Password has been changed. Kindly Login using new password.</p>
  </div>
  <div class="alert alert-danger" role="alert">
    <h5>Error !</h5>
    <p>Your password doesn't meet requirements</p>
  </div>
  <div class="page vertical-align text-center">
    <div class="page-content vertical-align-middle">
      <div class="panel">
        <div class="panel-body">
          <h2>Reset password?</h2>
          <p>Enter New password.</p>
           <form name="forgot-complete-form" novalidate="" id="forgot-complete-form" onSubmit="return false" >
            <div class="form-group form-material floating">
              <input type="password" class="form-control" required="true" ng-model="vm.password" name="userNewPass">
              <label class="floating-label" for="userNewPass">Password</label>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" ng-click="vm.completeForgotPassword()">Submit</button>
            </div>
          </form>
          <p>Retun to: <a href="/#!login">Sign In</a></p>
          <footer class="page-copyright">
            <p>© 2016. All RIGHT RESERVED.</p>
          </footer>
        </div>
      </div>
    </div>
  </div>

<!-- Core  -->
  <script src="assets/global/vendor/jquery/jquery.min.js"></script>
  <script src="assets/global/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="assets/global/vendor/asscroll/jquery-asScroll.min.js"></script>
  <script src="assets/global/vendor/mousewheel/jquery.mousewheel.min.js"></script>
  <script src="assets/global/vendor/asscrollable/jquery.asScrollable.all.min.js"></script>
  <script src="assets/global/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
  <script src="assets/global/vendor/waves/waves.min.js"></script>
  <!-- Plugins -->
  <script src="assets/global/vendor/switchery/switchery.min.js"></script>
  <script src="assets/global/vendor/intro-js/intro.min.js"></script>
  <script src="assets/global/vendor/screenfull/screenfull.min.js"></script>
  <script src="assets/global/vendor/slidepanel/jquery-slidePanel.min.js"></script>
  <script src="assets/global/vendor/formvalidation/formValidation.min.js"></script>
  <script src="assets/global/vendor/formvalidation/framework/bootstrap.min.js"></script>
  <!-- Scripts -->
  <script src="assets/global/js/core.min.js"></script>
  <script src="assets/common/js/site.min.js"></script>
  <script src="assets/common/js/sections/menu.js"></script>
  <script src="assets/common/js/sections/menubar.js"></script>
  <script src="assets/common/js/sections/gridmenu.js"></script>
  <script src="assets/common/js/sections/sidebar.js"></script>
  <script src="assets/global/js/configs/config-colors.min.js"></script>
  <script src="assets/common/js/configs/config-tour.js"></script>
  <script src="assets/global/js/components/asscrollable.min.js"></script>
  <script src="assets/global/js/components/slidepanel.min.js"></script>
  <script src="assets/global/js/components/switchery.min.js"></script>
  <script src="assets/global/js/components/tabs.min.js"></script>
  <script src="assets/global/js/components/material.min.js"></script>
  <script src="assets/common/examples/js/forms/validation.min.js"></script>
  <script>
  (function(document, window, $) {
    'use strict';
    var Site = window.Site;
    $(document).ready(function() {
      Site.run();
      validateUpdatePassForm();
    });
  })(document, window, jQuery);
  </script>


<script>
  function validateUpdatePassForm() {
    $('#forgot-complete-form').formValidation({
        framework: 'bootstrap',
        // List of fields and their validation rules
        fields: {
            userpwd: {
                userNewPass: {
                    notEmpty: {
                        message: 'The password is required and cannot be empty'
                    },
                    stringLength: {
                        min: 6,
                        message: 'The password must be more than 6 characters long'
                    }
                }
            }
        }
    });
  }
    
  </script>
</div>
