---
title: Buttons
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{global}}/vendor/ladda-bootstrap/ladda.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/uikit/buttons.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{global}}/vendor/ladda-bootstrap/spin.js"></script>
    <script src="{{global}}/vendor/ladda-bootstrap/ladda.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{global}}/js/components/buttons.js"></script>
    <script src="{{global}}/js/components/ladda-bootstrap.js"></script>
  {{/content}}


  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/uikit/button.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page animsition">
      <div class="page-header">
        <ol class="breadcrumb">
          <li><a href="{{dest 'index.html'}}">Home</a></li>
          <li class="active">Basic UI</li>
        </ol>
        <h1 class="page-title">Buttons</h1>
        <div class="page-header-actions">
          <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
          data-original-title="Edit">
            <i class="icon md-edit" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
          data-original-title="Refresh">
            <i class="icon md-refresh-alt" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
          data-original-title="Setting">
            <i class="icon md-settings" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="page-content">
        <!-- Panel General Button -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">General Button</h3>
          </div>

          <div class="panel-body container-fluid">
            <div class="row row-lg">
              <div class="col-lg-12">
                <!-- Example Default Button -->
                <div class="example-wrap">
                  <h4 class="example-title">Default Button</h4>
                  <p>Use any of the available button classes to quickly create a styled
                    button . We provide a variety of colors for you to express
                    different emotions.</p>
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 col-lg-2">
                      <div class="example">
                        <ul class="list-unstyled">
                          <li class="margin-bottom-20">
                            <button type="button" class="btn btn-block btn-default">Default</button>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-grey-300"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">Normal</p>
                              <span class="font-size-12">#e0e0e0</span>
                            </div>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-grey-200"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">Hover</p>
                              <span class="font-size-12">#eeeeee</span>
                            </div>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-grey-400"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">active</p>
                              <span class="font-size-12">#bdbdbd</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-lg-2">
                      <div class="example">
                        <ul class="list-unstyled">
                          <li class="margin-bottom-20">
                            <button type="button" class="btn btn-block btn-primary">Primary</button>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-primary-500"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">Normal</p>
                              <span class="font-size-12">#06477e</span>
                            </div>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-primary-400"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">Hover</p>
                              <span class="font-size-12">#5c6bc0</span>
                            </div>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-primary-600"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">active</p>
                              <span class="font-size-12">#3949ab</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-lg-2">
                      <div class="example">
                        <ul class="list-unstyled">
                          <li class="margin-bottom-20">
                            <button type="button" class="btn btn-block btn-success">Success</button>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-green-500"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">Normal</p>
                              <span class="font-size-12">#4caf50</span>
                            </div>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-green-400"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">Hover</p>
                              <span class="font-size-12">#66bb6a</span>
                            </div>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-green-600"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">active</p>
                              <span class="font-size-12">#43a047</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-lg-2">
                      <div class="example">
                        <ul class="list-unstyled">
                          <li class="margin-bottom-20">
                            <button type="button" class="btn btn-block btn-info">Info</button>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-cyan-500"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">Normal</p>
                              <span class="font-size-12">#00bcd4</span>
                            </div>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-cyan-400"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">Hover</p>
                              <span class="font-size-12">#26c6da</span>
                            </div>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-cyan-600"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">active</p>
                              <span class="font-size-12">#00acc1</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-lg-2">
                      <div class="example">
                        <ul class="list-unstyled">
                          <li class="margin-bottom-20">
                            <button type="button" class="btn btn-block btn-warning">Warning</button>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-orange-500"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">Normal</p>
                              <span class="font-size-12">#ff9800</span>
                            </div>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-orange-400"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">Hover</p>
                              <span class="font-size-12">#ffa726</span>
                            </div>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-orange-600"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">active</p>
                              <span class="font-size-12">#fb8c00</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-lg-2">
                      <div class="example">
                        <ul class="list-unstyled">
                          <li class="margin-bottom-20">
                            <button type="button" class="btn btn-block btn-danger">Danger</button>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-red-500"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">Normal</p>
                              <span class="font-size-12">#f44336</span>
                            </div>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-red-400"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">Hover</p>
                              <span class="font-size-12">#ef5350</span>
                            </div>
                          </li>
                          <li class="margin-bottom-20">
                            <div class="pull-left color-box bg-red-600"></div>
                            <div class="margin-left-35">
                              <p class="font-size-14 grey-600 margin-0">active</p>
                              <span class="font-size-12">#e53935</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Example Default Button -->
              </div>
            </div>

            <div class="row row-lg">
              <div class="col-md-6">
                <!-- Example Sizing -->
                <div class="example-wrap">
                  <h4 class="example-title">Sizing</h4>
                  <p>Size might vary from smaller screen to a larger screen. We made
                    few sizes that are pixel perfect and resposive.
                    <br/> Fancy larger or smaller buttons? Add <code>.btn-lg</code>,
                    <code>.btn-sm</code>, or <code>.btn-xs</code> for additional
                    sizes.</p>
                  <div class="example example-buttons">
                    <button type="button" class="btn btn-info btn-lg">Large Button</button>
                    <button type="button" class="btn btn-info">Default Button</button>
                    <button type="button" class="btn btn-info btn-sm">Small Button</button>
                    <button type="button" class="btn btn-info btn-xs">Tiny Button</button>
                  </div>
                </div>
                <!-- End Example Sizing -->
              </div>

              <div class="col-md-6">
                <!-- Example Rounded Button / Squard Button -->
                <div class="example-wrap">
                  <h4 class="example-title">Rounded Button / Squard Button</h4>
                  <p>Round button and the square button can be used to distinguish
                    th different behavior or style.</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="example example-buttons">
                        <div>
                          <button type="button" class="btn btn-round btn-info btn-lg">Large</button>
                        </div>
                        <div>
                          <button type="button" class="btn btn-round btn-info">Default</button>
                        </div>
                        <div>
                          <button type="button" class="btn btn-round btn-info btn-sm">Small</button>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="example example-buttons">
                        <div>
                          <button type="button" class="btn btn-squared btn-info btn-lg">Large</button>
                        </div>
                        <div>
                          <button type="button" class="btn btn-squared btn-info">Default</button>
                        </div>
                        <div>
                          <button type="button" class="btn btn-squared btn-info btn-sm">Small</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Example Rounded Button / Squard Button -->
              </div>
            </div>

            <div class="row row-lg">
              <div class="col-md-6">
                <!-- Example Block Button With Icon -->
                <div class="example-wrap">
                  <h4 class="example-title">Block Button With Icon</h4>
                  <p>Create block level buttons,with by adding add <code>.btn-block</code>                    .</p>
                  <div class="example example-buttons">
                    <button type="button" class="btn btn-info btn-block"><i class="icon md-menu pull-right" aria-hidden="true"></i>Default</button>
                    <button type="button" class="btn btn-primary btn-block btn-round"><i class="icon md-menu" aria-hidden="true"></i>Round</button>
                  </div>
                </div>
                <!-- End Example Block Button With Icon -->
              </div>

              <div class="col-md-6">
                <!-- Example Pill Left Or Right -->
                <div class="example-wrap">
                  <h4 class="example-title">Pill Left Or Right</h4>
                  <p>Create a button like pill by <code>.btn-pill-left</code> or <code>.btn-pill-right</code>                    with <code>.btn-round</code>.</p>
                  <div class="example example-buttons">
                    <div>
                      <button type="button" class="btn btn-round btn-primary btn-pill-left">Pill Left</button>
                      <button type="button" class="btn btn-round btn-primary btn-pill-right">Pill Right</button>
                    </div>
                  </div>
                </div>
                <!-- End Example Pill Left Or Right -->
              </div>
            </div>

            <div class="row row-lg">
              <div class="col-md-6 col-lg-4">
                <!-- Example Flat And Raised Button -->
                <div class="example-wrap">
                  <h4 class="example-title">Flat And Raised Button</h4>
                  <p>Raised buttons behave like a piece of material resting on another
                    sheet – they lift and color on press.
                    <br/> Flat buttons are printed on the material. They do not lift
                    but fill with color on press.</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="example example-buttons">
                        <button type="button" class="btn btn-raised btn-primary btn-block">Normal</button>
                        <button type="button" class="btn btn-raised btn-primary btn-block example-primary-hover">Hover</button>
                        <button type="button" class="btn btn-raised btn-primary btn-block active">Active</button>
                        <button type="button" class="btn btn-raised btn-primary btn-block disabled">Disabled</button>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="example example-buttons">
                        <button type="button" class="btn btn-flat btn-default btn-block">Normal</button>
                        <button type="button" class="btn btn-flat btn-default btn-block example-default-hover">Hover</button>
                        <button type="button" class="btn btn-flat btn-default btn-block active">Active</button>
                        <button type="button" class="btn btn-flat btn-default btn-block disabled">Disabled</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Example Flat And Raised Button -->
              </div>

              <div class="col-md-6 col-lg-4">
                <!-- Example Floating Button -->
                <div class="example-wrap">
                  <h4 class="example-title">Floating Button</h4>
                  <p>Floating action buttons are used for a special type of promoted
                    action. They are distinguished by a circled icon floating above
                    the UI and have special motion behaviors related to morphing,
                    launching, and the transferring anchor point.
                    <br /> Use the default class <code>.btn</code> with an additional
                    class <code>.btn-floating</code> .</p>
                  <div class="example example-buttons">
                    <button type="button" class="btn btn-floating btn-success"><i class="icon md-edit" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-floating btn-success btn-sm"><i class="icon md-edit" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-floating btn-info"><i class="icon md-plus" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-floating btn-info btn-sm"><i class="icon md-plus" aria-hidden="true"></i></button>
                  </div>
                </div>
                <!-- End Example Floating Button -->
              </div>

              <div class="clearfix visible-md-block"></div>

              <div class="col-md-6 col-lg-4">
                <!-- Example Button Animation -->
                <div class="example-wrap">
                  <h4 class="example-title">Button Animation</h4>
                  <p>A button can animate to show hidden content. Modern and subtle
                    styles &amp; effects for buttons.</p>
                  <div class="example example-buttons">
                    <button type="button" class="btn btn-animate btn-animate-side btn-success">
                      <span><i class="icon md-download" aria-hidden="true"></i>Side Animation</span>
                    </button>
                    <button type="button" class="btn btn-animate btn-animate-vertical btn-success">
                      <span><i class="icon md-download" aria-hidden="true"></i>Vertical
                        Animation</span>
                    </button>
                  </div>
                </div>
                <!-- End Example Button Animation -->
              </div>

              <div class="clearfix visible-lg-block"></div>

              <div class="col-md-6 col-lg-4">
                <!-- Example Button With Icon -->
                <div class="example-wrap">
                  <h4 class="example-title">Button With Icon</h4>
                  <p>Basic buttons are traditional buttons with borders and background
                    with an extra commponent like an icon. You can place it either
                    on the left or the right which ever you want with different
                    color opitons.</p>
                  <div class="example example-buttons">
                    <button type="button" class="btn btn-dark"><i class="icon md-upload" aria-hidden="true"></i> Upload</button>
                    <button type="button" class="btn btn-warning"><i class="icon md-thumb-up" aria-hidden="true"></i> I like</button>
                    <button type="button" class="btn btn-success"><i class="icon md-check" aria-hidden="true"></i> I agree</button>
                    <button type="button" class="btn btn-primary"><i class="icon md-plus" aria-hidden="true"></i> More</button>
                    <button type="button" class="btn btn-danger"><i class="icon md-link" aria-hidden="true"></i> Link</button>
                    <button type="button" class="btn btn-info"><i class="icon md-comment" aria-hidden="true"></i> Comment</button>
                  </div>
                </div>
                <!-- End Example Button With Icon -->
              </div>

              <div class="clearfix visible-md-block"></div>

              <div class="col-md-6 col-lg-4">
                <!-- Example Icon Button -->
                <div class="example-wrap">
                  <h4 class="example-title">Icon Button</h4>
                  <p>Icon only button.</p>
                  <div class="example example-buttons">
                    <button type="button" class="btn btn-icon btn-default"><i class="icon md-pin" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-primary"><i class="icon md-apps" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-success"><i class="icon md-notifications" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-info"><i class="icon md-calendar" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-warning btn-round"><i class="icon md-time" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-danger btn-round"><i class="icon md-roller" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-dark btn-round"><i class="icon md-chart-donut" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-pure btn-default icon md-lock"></button>
                    <button type="button" class="btn btn-pure btn-primary icon md-thumb-up"></button>
                    <button type="button" class="btn btn-pure btn-success icon md-share"></button>
                    <button type="button" class="btn btn-pure btn-info icon md-shuffle"></button>
                    <button type="button" class="btn btn-pure btn-warning icon md-star"></button>
                    <button type="button" class="btn btn-pure btn-danger icon md-print"></button>
                    <button type="button" class="btn btn-pure btn-dark icon md-flag"></button>
                  </div>
                </div>
                <!-- End Example Icon Button -->
              </div>

              <div class="col-md-6 col-lg-4">
                <!-- Example Icon Dropdown -->
                <div class="example-wrap">
                  <h4 class="example-title">Icon Dropdown</h4>
                  <p>Icon used in the dropdown.</p>
                  <div class="example example-buttons">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary dropdown-toggle" id="exampleIconDropdown1"
                      data-toggle="dropdown" aria-expanded="false">
                        <i class="icon md-apps" aria-hidden="true"></i>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                        <li role="presentation"><a href="javascript:void(0)" role="menuitem">Dropdown link</a></li>
                        <li role="presentation"><a href="javascript:void(0)" role="menuitem">Dropdown link</a></li>
                      </ul>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-warning dropdown-toggle" id="exampleIconDropdown2"
                      data-toggle="dropdown" aria-expanded="false">
                        <i class="icon md-favorite" aria-hidden="true"></i>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown2" role="menu">
                        <li role="presentation"><a href="javascript:void(0)" role="menuitem">Dropdown link</a></li>
                        <li role="presentation"><a href="javascript:void(0)" role="menuitem">Dropdown link</a></li>
                      </ul>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-info dropdown-toggle" id="exampleIconDropdown3"
                      data-toggle="dropdown" aria-expanded="false">
                        <i class="icon md-calendar" aria-hidden="true"></i>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown3" role="menu">
                        <li role="presentation"><a href="javascript:void(0)" role="menuitem">Dropdown link</a></li>
                        <li role="presentation"><a href="javascript:void(0)" role="menuitem">Dropdown link</a></li>
                      </ul>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-dark dropdown-toggle" id="exampleIconDropdown4"
                      data-toggle="dropdown" aria-expanded="false">
                        <i class="icon md-chart-donut" aria-hidden="true"></i>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown4" role="menu">
                        <li role="presentation"><a href="javascript:void(0)" role="menuitem">Dropdown link</a></li>
                        <li role="presentation"><a href="javascript:void(0)" role="menuitem">Dropdown link</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- End Example Icon Dropdown -->
              </div>

              <div class="clearfix visible-lg-block visible-md-block"></div>

              <div class="col-md-6 col-lg-4">
                <!-- Example Social Button Sizes -->
                <div class="example-wrap margin-md-0">
                  <h4 class="example-title">Social Button Sizes</h4>
                  <p>Different Sizes for you to use with icon button or icon only
                    button.</p>
                  <div class="example example-buttons">
                    <ul class="list-unstyled pull-left">
                      <li>
                        <button type="button" class="btn btn-labeled btn-lg social-facebook">
                          <span class="btn-label"><i class="icon bd-facebook" aria-hidden="true"></i></span>Facebook</button>
                      </li>
                      <li>
                        <button type="button" class="btn btn-labeled social-facebook">
                          <span class="btn-label"><i class="icon bd-facebook" aria-hidden="true"></i></span>Facebook</button>
                      </li>
                      <li>
                        <button type="button" class="btn btn-labeled btn-sm social-facebook">
                          <span class="btn-label"><i class="icon bd-facebook" aria-hidden="true"></i></span>Facebook</button>
                      </li>
                      <li>
                        <button type="button" class="btn btn-labeled btn-xs social-facebook">
                          <span class="btn-label"><i class="icon bd-facebook" aria-hidden="true"></i></span>Facebook</button>
                      </li>
                    </ul>

                    <ul class="list-unstyled">
                      <li>
                        <button type="button" class="btn btn-icon btn-lg social-facebook"><i class="icon bd-facebook" aria-hidden="true"></i></button>
                      </li>
                      <li>
                        <button type="button" class="btn btn-icon social-facebook"><i class="icon bd-facebook" aria-hidden="true"></i></button>
                      </li>
                      <li>
                        <button type="button" class="btn btn-icon btn-sm social-facebook"><i class="icon bd-facebook" aria-hidden="true"></i></button>
                      </li>
                      <li>
                        <button type="button" class="btn btn-icon btn-xs social-facebook"><i class="icon bd-facebook" aria-hidden="true"></i></button>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- End Example Social Button Sizes -->
              </div>

              <div class="col-md-6 col-lg-4">
                <!-- Example Social In Labels -->
                <div class="example-wrap margin-lg-0">
                  <h4 class="example-title">Social In Labels</h4>
                  <p>It is often used at the top of a page or section. An social icon
                    must be with this variation.</p>
                  <div class="example example-buttons">
                    <button type="button" class="btn btn-labeled social-facebook">
                      <span class="btn-label"><i class="icon bd-facebook" aria-hidden="true"></i></span>Facebook</button>
                    <button type="button" class="btn btn-labeled social-twitter">
                      <span class="btn-label"><i class="icon bd-twitter" aria-hidden="true"></i></span>Twitter</button>
                    <button type="button" class="btn btn-labeled social-google-plus">
                      <span class="btn-label"><i class="icon bd-google-plus" aria-hidden="true"></i></span>Google+</button>
                    <button type="button" class="btn btn-labeled social-linkedin">
                      <span class="btn-label"><i class="icon bd-linkedin" aria-hidden="true"></i></span>Linkedin</button>
                    <button type="button" class="btn btn-labeled social-flickr">
                      <span class="btn-label"><i class="icon bd-flickr" aria-hidden="true"></i></span>Flickr</button>
                    <button type="button" class="btn btn-labeled social-tumblr">
                      <span class="btn-label"><i class="icon bd-tumblr" aria-hidden="true"></i></span>Tumblr</button>
                  </div>
                </div>
                <!-- End Example Social In Labels -->
              </div>

              <div class="clearfix visible-md-block"></div>

              <div class="col-md-6 col-lg-4">
                <!-- Example Social Icon Button -->
                <div class="example-wrap">
                  <h4 class="example-title">Social Icon Button</h4>
                  <p>Icon only button. But icon is social icon. </p>
                  <div class="example example-buttons">
                    <button type="button" class="btn btn-icon social-facebook"><i class="icon bd-facebook" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon social-twitter"><i class="icon bd-twitter" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon social-linkedin"><i class="icon bd-linkedin" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon social-dribbble"><i class="icon bd-dribbble" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon social-instagram"><i class="icon bd-instagram" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon social-github"><i class="icon bd-github" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon social-skype"><i class="icon bd-skype" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon social-youtube"><i class="icon bd-youtube" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon social-evernote"><i class="icon bd-evernote" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon social-google-plus"><i class="icon bd-google-plus" aria-hidden="true"></i></button>
                  </div>
                </div>
                <!-- End Example Social Icon Button -->
              </div>

              <div class="clearfix visible-lg-block"></div>

              <div class="col-md-6 col-lg-4">
                <!-- Example Icon Block Button -->
                <div class="example-wrap">
                  <h4 class="example-title">Icon Block Button</h4>
                  <p>Icon only block button. </p>
                  <div class="example example-buttons">
                    <button type="button" class="btn btn-icon btn-block btn-primary"><i class="icon md-favorite" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-block social-twitter"><i class="icon bd-twitter" aria-hidden="true"></i></button>
                  </div>
                </div>
                <!-- End Example Icon Block Button -->
              </div>

              <div class="col-md-6 col-lg-8">
                <!-- Example Button with Waves -->
                <div class="example-wrap">
                  <h4 class="example-title">Button with Waves</h4>
                  <p>The styles of waves. </p>
                  <div class="example example-buttons">
                    <button type="button" class="btn btn-flat">Default</button>
                    <button type="button" class="btn btn-flat waves-classic">Classic</button>
                    <button type="button" class="btn btn-flat waves-red">Red</button>
                    <button type="button" class="btn btn-flat waves-purple">Purple</button>
                    <button type="button" class="btn btn-flat waves-light-blue">Light Blue</button>
                    <button type="button" class="btn btn-flat waves-teal">Teal</button>
                    <button type="button" class="btn btn-flat waves-green">Green</button>
                    <button type="button" class="btn btn-flat waves-yellow">Yellow</button>
                    <button type="button" class="btn btn-flat waves-orange">Orange</button>
                    <button type="button" class="btn btn-flat waves-brown">Brown</button>
                    <button type="button" class="btn btn-dark waves-light">Light</button>
                  </div>
                </div>
                <!-- End Example Button with Waves -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Panel General Button -->

        <!-- Panel Button Group -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Button Group</h3>
          </div>
          <div class="panel-body container-fluid">
            <div class="row row-lg">
              <div class="col-lg-4 col-md-6">
                <!-- Example Basic Button Group -->
                <div class="example-wrap">
                  <h4 class="example-title">Basic Button Group</h4>
                  <p>Grouped buttons give users access to frequently performed actions
                    of a focused task. Wrap a series of buttons with <code>.btn</code>                    in <code>.btn-group.</code></p>
                  <div class="example example-buttons">
                    <div class="btn-group btn-group-flat" aria-label="Basic example" role="group">
                      <button type="button" class="btn btn-icon btn-pure btn-default"><i class="icon md-play" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-icon btn-pure btn-primary"><i class="icon md-pause" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-icon btn-pure btn-info"><i class="icon md-stop" aria-hidden="true"></i></button>
                    </div>

                    <div class="btn-group" aria-label="Basic example" role="group">
                      <button type="button" class="btn btn-icon btn-primary"><i class="icon md-play" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-icon btn-primary"><i class="icon md-pause" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-icon btn-primary"><i class="icon md-stop" aria-hidden="true"></i></button>
                    </div>

                    <div class="btn-group" aria-label="Basic example" role="group">
                      <button type="button" class="btn btn-info"><i class="icon md-edit" aria-hidden="true"></i>Edit</button>
                      <button type="button" class="btn btn-info"><i class="icon md-mail-reply" aria-hidden="true"></i>Reply</button>
                      <button type="button" class="btn btn-info"><i class="icon md-share" aria-hidden="true"></i>Share</button>
                    </div>

                    <div class="btn-group" aria-label="Basic example" role="group">
                      <button type="button" class="btn btn-info">Left</button>
                      <button type="button" class="btn btn-info">Middle</button>
                      <button type="button" class="btn btn-info">Right</button>
                    </div>
                  </div>
                </div>
                <!-- End Example Basic Button Group -->
              </div>

              <div class="col-lg-4 col-md-6">
                <!-- Example Vertical Button Group -->
                <div class="example-wrap">
                  <h4 class="example-title">Vertical Button Group</h4>
                  <p>Order the buttons in a group for actions that are used regularly
                    or are significant.</p>
                  <div class="example example-buttons">
                    <div class="btn-group-vertical" aria-label="Vertical button group" role="group">
                      <button type="button" class="btn btn-info"><i class="icon md-flag" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-info"><i class="icon md-wrench" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-info"><i class="icon md-print" aria-hidden="true"></i></button>
                    </div>

                    <div class="btn-group-vertical" aria-label="Vertical button group" role="group">
                      <button type="button" class="btn btn-info">1</button>
                      <button type="button" class="btn btn-info">2</button>
                      <button type="button" class="btn btn-info">3</button>
                    </div>

                    <div class="btn-group-vertical" aria-label="Vertical button group" role="group">
                      <button type="button" class="btn btn-primary">Left</button>
                      <button type="button" class="btn btn-primary">Middle</button>
                      <button type="button" class="btn btn-primary">Right</button>
                    </div>
                  </div>
                </div>
                <!-- End Example Vertical Button Group -->
              </div>

              <div class="clearfix visible-md-block"></div>

              <div class="col-lg-4 col-md-6">
                <!-- Example Button Group Sizes -->
                <div class="example-wrap">
                  <h4 class="example-title">Button Group Sizes</h4>
                  <p>Instead of applying button sizing classes to every button in
                    a group, just add <code>.btn-group-*</code> to each <code>.btn-group</code>,
                    including when nesting multiple groups.</p>
                  <div class="example example-buttons">
                    <div>
                      <div class="btn-group btn-group-lg" aria-label="Large button group" role="group">
                        <button type="button" class="btn btn-info">Left</button>
                        <button type="button" class="btn btn-info">Middle</button>
                        <button type="button" class="btn btn-info">Right</button>
                      </div>
                    </div>

                    <div>
                      <div class="btn-group" aria-label="Default button group" role="group">
                        <button type="button" class="btn btn-info">Left</button>
                        <button type="button" class="btn btn-info">Middle</button>
                        <button type="button" class="btn btn-info">Right</button>
                      </div>
                    </div>

                    <div>
                      <div class="btn-group btn-group-sm" aria-label="Small button group" role="group">
                        <button type="button" class="btn btn-info">Left</button>
                        <button type="button" class="btn btn-info">Middle</button>
                        <button type="button" class="btn btn-info">Right</button>
                      </div>
                    </div>

                    <div>
                      <div class="btn-group btn-group-xs" aria-label="Extra-small button group" role="group">
                        <button type="button" class="btn btn-info">Left</button>
                        <button type="button" class="btn btn-info">Middle</button>
                        <button type="button" class="btn btn-info">Right</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Example Button Group Sizes -->
              </div>

              <div class="col-lg-4 col-md-6">
                <!-- Example Button Toolbar -->
                <div class="example-wrap">
                  <h4 class="example-title">Button Toolbar</h4>
                  <p>This group button is used to show the close relationship between
                    a number of buttons, and is usually used on edit page.</p>
                  <div class="example example-buttons">
                    <div class="btn-toolbar" aria-label="Toolbar with button groups" role="toolbar">
                      <div class="btn-group">
                        <button type="button" class="btn btn-icon btn-primary"><i class="icon md-format-bold" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-icon btn-primary"><i class="icon md-format-italic" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-icon btn-primary"><i class="icon md-format-underlined" aria-hidden="true"></i></button>
                      </div>

                      <div class="btn-group">
                        <button type="button" class="btn btn-icon btn-primary"><i class="icon md-format-align-left" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-icon btn-primary"><i class="icon md-format-align-center" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-icon btn-primary"><i class="icon md-format-align-right" aria-hidden="true"></i></button>
                      </div>

                      <div class="btn-group">
                        <button type="button" class="btn btn-icon btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false" aria-hidden="true">
                          <i class="icon md-wrench" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li role="presentation">
                            <a href="javascript:void(0)" role="menuitem">
                              <i class="icon md-scissors" aria-hidden="true"></i>                              Cut
                            </a>
                          </li>
                          <li role="presentation">
                            <a href="javascript:void(0)" role="menuitem">
                              <i class="icon md-copy" aria-hidden="true"></i> Copy
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="btn-toolbar" aria-label="Toolbar with button groups" role="toolbar">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-icon btn-info"><i class="icon md-file" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-icon btn-info"><i class="icon md-edit" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-icon btn-info"><i class="icon md-folder" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-icon btn-info"><i class="icon md-delete" aria-hidden="true"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Example Button Toolbar -->
              </div>

              <div class="clearfix visible-md-block"></div>

              <div class="col-lg-4 col-md-6">
                <!-- Example Nesting Button Group -->
                <div class="example-wrap">
                  <h4 class="example-title">Nesting Button Group</h4>
                  <p>Place a <code>.btn-group</code> within another <code>.btn-group</code>                    when you want dropdown menus mixed with a series of buttons.</p>
                  <div class="example example-buttons">
                    <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                      <button type="button" class="btn btn-primary">1</button>
                      <button type="button" class="btn btn-primary">2</button>
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" id="exampleGroupDrop1"
                        data-toggle="dropdown" aria-expanded="false">
                          Dropdown
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="exampleGroupDrop1" role="menu">
                          <li role="presentation"><a href="javascript:void(0)" role="menuitem">Dropdown link</a></li>
                          <li role="presentation"><a href="javascript:void(0)" role="menuitem">Dropdown link</a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                      <button type="button" class="btn btn-info">1</button>
                      <button type="button" class="btn btn-info">2</button>
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-info dropdown-toggle" id="exampleGroupDrop2"
                        data-toggle="dropdown" aria-expanded="false">
                          Dropdown
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu">
                          <li role="presentation"><a href="javascript:void(0)" role="menuitem">Dropdown link</a></li>
                          <li role="presentation"><a href="javascript:void(0)" role="menuitem">Dropdown link</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Example Nesting Button Group -->
              </div>

              <div class="col-lg-4 col-md-6">
                <!-- Example Justified Button Group -->
                <div class="example-wrap">
                  <h4 class="example-title">Justified Button Group</h4>
                  <p>To use justified button groups with <code>&lt;button&gt;</code>                    elements, you must wrap each button in a button group. Most
                    browsers don't properly apply our CSS for justification to
                    <code>&lt;button&gt;</code> elements, but since we support
                    button dropdowns, we can work around that.</p>
                  <div class="example example-buttons">
                    <div class="btn-group btn-group-justified">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary">
                          <i class="icon md-star" aria-hidden="true"></i>
                          <br>
                          <span class="text-uppercase hidden-xs">Favourites</span>
                        </button>
                      </div>

                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-info">
                          <i class="icon md-time" aria-hidden="true"></i>
                          <br>
                          <span class="text-uppercase hidden-xs">Recent</span>
                        </button>
                      </div>

                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success">
                          <i class="icon md-account" aria-hidden="true"></i>
                          <br>
                          <span class="text-uppercase hidden-xs">Contacts</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Example Justified Button Group -->
              </div>

              <div class="clearfix visible-md-block visible-lg-block"></div>

              <div class="col-lg-4 col-md-6">
                <!-- Example Button.Js Componenents -->
                <div class="example-wrap margin-md-0">
                  <h4 class="example-title">Button.Js Componenents</h4>
                  <p>
                    There are a few easy ways to quickly get started with Bootstrap, each one ...
                  </p>
                  <p class="hide" id="exampleMoreless">
                    Appealing to a different skill level and use case. Read through to see what suits
                    your particular needs.
                  </p>
                  <div class="example example-buttons">
                    <div>
                      <button type="button" class="btn btn-sm btn-primary" data-toggle="button" data-more="#exampleMoreless">
                        <i class="icon md-plus text" aria-hidden="true"></i>
                        <span class="text">More</span>
                        <i class="icon md-minus text-active" aria-hidden="true"></i>
                        <span class="text-active">Less</span>
                      </button>
                    </div>

                    <div>
                      <button type="button" class="btn btn-success" data-toggle="button">
                        <i class="icon md-upload text" aria-hidden="true"></i>
                        <span class="text">Upload</span>
                        <i class="icon md-check text-active" aria-hidden="true"></i>
                        <span class="text-active">Success</span>
                      </button>
                      <button type="button" class="btn btn-icon btn-pure" data-toggle="button">
                        <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                        <i class="icon md-favorite text-active text-danger" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-icon btn-pure active" data-toggle="button">
                        <span class="text">
                          <i class="icon md-thumb-up" aria-hidden="true"></i> 25
                        </span>
                        <span class="text-active">
                          <i class="icon md-thumb-up text-danger" aria-hidden="true"></i>                          26
                        </span>
                      </button>
                    </div>

                    <div>
                      <div class="btn-group" data-toggle="buttons" role="group">
                        <label class="btn btn-primary active">
                          <input type="radio" name="options" autocomplete="off" value="male" checked />
                          <i class="icon md-check text-active" aria-hidden="true"></i>                          Male
                        </label>
                        <label class="btn btn-primary">
                          <input type="radio" name="options" autocomplete="off" value="female" />
                          <i class="icon md-check text-active" aria-hidden="true"></i>                          Female
                        </label>
                        <label class="btn btn-primary">
                          <input type="radio" name="options" autocomplete="off" value="n/a" />
                          <i class="icon md-check text-active" aria-hidden="true"></i>                          N/A
                        </label>
                      </div>
                    </div>

                    <div>
                      <div class="btn-group" data-toggle="buttons" role="group">
                        <label class="btn btn-primary active">
                          <input type="checkbox" name="multiples" value="apple" checked /> Apple
                        </label>
                        <label class="btn btn-primary active">
                          <input type="checkbox" name="multiples" value="banana" checked /> Banana
                        </label>
                        <label class="btn btn-primary">
                          <input type="checkbox" name="multiples" value="orange" /> Orange
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Example Button.Js Componenents -->
              </div>

              <div class="col-lg-4 col-md-6">
                <!-- Example Stateful -->
                <div class="example-wrap">
                  <h4 class="example-title">Stateful</h4>
                  <p>Add <code>data-loading-text=&quot;Loading...&quot;</code> to
                    use a loading state on a button.</p>
                  <div class="example">
                    <button type="button" class="btn btn-primary" id="exampleStatefulButton" data-loading-text="Loading...">
                      Loading state
                    </button>
                  </div>
                </div>
                <!-- End Example Stateful -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Panel Button Group -->

        <!-- Panel Ladda Buttons -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Ladda Buttons
              <small><a class="example-plugin-link" href="http://msurguy.github.io/ladda-bootstrap/"
                target="_blank">official website</a></small>
            </h3>
          </div>

          <div class="panel-body container-fluid">
            <div class="row row-lg">
              <div class="col-lg-4 col-md-6">
                <!-- Example Expand -->
                <div class="example-wrap">
                  <h4 class="example-title">Expand</h4>
                  <div class="example example-buttons">
                    <div class="pull-left">
                      <button type="button" class="btn btn-info ladda-button" data-style="expand-left"
                      data-plugin="ladda">
                        <span class="ladda-label"><i class="icon md-arrows margin-right-10" aria-hidden="true"></i>Expand
                          left</span>
                      </button>
                    </div>

                    <div class="pull-left">
                      <button type="button" class="btn btn-success ladda-button" data-style="expand-right"
                      data-plugin="ladda">
                        <span class="ladda-label"><i class="icon md-arrows margin-right-10" aria-hidden="true"></i>Expand
                          right</span>
                      </button>
                    </div>

                    <div class="pull-left">
                      <button type="button" class="btn btn-primary ladda-button" data-style="expand-up"
                      data-plugin="ladda">
                        <span class="ladda-label"><i class="icon md-arrows margin-right-10" aria-hidden="true"></i>Expand
                          up</span>
                      </button>
                    </div>

                    <div class="pull-left">
                      <button type="button" class="btn btn-warning ladda-button" data-style="expand-down"
                      data-plugin="ladda">
                        <span class="ladda-label"><i class="icon md-arrows margin-right-10" aria-hidden="true"></i>Expand
                          down</span>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- End Example Expand -->
              </div>

              <div class="col-lg-4 col-md-6">
                <!-- Example Zoom -->
                <div class="example-wrap">
                  <h4 class="example-title">Zoom</h4>
                  <div class="example example-buttons">
                    <div class="pull-left">
                      <button type="button" class="btn btn-warning ladda-button" data-style="zoom-in"
                      data-plugin="ladda">
                        <span class="ladda-label"><i class="icon md-zoom-in margin-right-10" aria-hidden="true"></i>Zoom
                          in</span>
                      </button>
                    </div>

                    <div class="pull-left">
                      <button type="button" class="btn btn-info ladda-button" data-style="zoom-out" data-plugin="ladda">
                        <span class="ladda-label"><i class="icon md-zoom-out margin-right-10" aria-hidden="true"></i>Zoom
                          out</span>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- End Example Zoom -->
              </div>

              <div class="clearfix visible-md-block"></div>

              <div class="col-lg-4 col-md-6">
                <!-- Example Progress -->
                <div class="example-wrap">
                  <h4 class="example-title">Progress</h4>
                  <div class="example example-buttons">
                    <div class="pull-left">
                      <button type="button" class="btn btn-success ladda-button" data-style="expand-left"
                      data-plugin="laddaProgress">
                        <span class="ladda-label"><i class="icon md-arrows margin-right-10" aria-hidden="true"></i>Expand</span>
                      </button>
                    </div>

                    <div class="pull-left">
                      <button type="button" class="btn btn-warning ladda-button" data-style="zoom-in"
                      data-plugin="laddaProgress">
                        <span class="ladda-label"><i class="icon md-zoom-in margin-right-10" aria-hidden="true"></i>Zoom</span>
                      </button>
                    </div>

                    <div class="pull-left">
                      <button type="button" class="btn btn-primary ladda-button" data-style="slide-left"
                      data-plugin="laddaProgress">
                        <span class="ladda-label"><i class="icon md-long-arrow-left margin-right-10" aria-hidden="true"></i>Slide</span>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- End Example Progress -->
              </div>

              <div class="clearfix visible-lg-block"></div>

              <div class="col-md-6">
                <!-- Example Slide -->
                <div class="example-wrap margin-md-0">
                  <h4 class="example-title">Slide</h4>
                  <div class="example example-buttons">
                    <div class="pull-left">
                      <button type="button" class="btn btn-primary ladda-button" data-style="slide-left"
                      data-plugin="ladda">
                        <span class="ladda-label"><i class="icon md-long-arrow-left margin-right-10" aria-hidden="true"></i>Slide
                          left</span>
                      </button>
                    </div>

                    <div class="pull-left">
                      <button type="button" class="btn btn-primary ladda-button" data-style="slide-right"
                      data-plugin="ladda">
                        <span class="ladda-label">Slide right<i class="icon md-long-arrow-right margin-left-10"
                          aria-hidden="true"></i></span>
                      </button>
                    </div>

                    <div class="pull-left">
                      <button type="button" class="btn btn-primary ladda-button" data-style="slide-up"
                      data-plugin="ladda">
                        <span class="ladda-label"><i class="icon md-long-arrow-up margin-right-10" aria-hidden="true"></i>Slide
                          up</span>
                      </button>
                    </div>

                    <div class="pull-left">
                      <button type="button" class="btn btn-primary ladda-button" data-style="slide-down"
                      data-plugin="ladda">
                        <span class="ladda-label"><i class="icon md-long-arrow-down margin-right-10" aria-hidden="true"></i>Slide
                          down</span>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- End Example Slide -->
              </div>

              <div class="clearfix visible-md-block"></div>

              <div class="col-md-6">
                <!-- Example Sizing -->
                <div class="example-wrap">
                  <h4 class="example-title">Sizing</h4>
                  <div class="example example-buttons">
                    <button type="button" class="btn btn-primary btn-lg ladda-button" data-style="expand-left"
                    data-plugin="ladda">
                      <span class="ladda-label">Large</span>
                    </button>
                    <button type="button" class="btn btn-primary ladda-button" data-style="expand-left"
                    data-plugin="ladda">
                      <span class="ladda-label">Default</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm ladda-button" data-style="expand-left"
                    data-plugin="ladda">
                      <span class="ladda-label">Small</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-xs ladda-button" data-style="expand-left"
                    data-plugin="ladda">
                      <span class="ladda-label">Tiny</span>
                    </button>
                  </div>
                </div>
                <!-- End Example Sizing -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Panel Ladda Buttons -->
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}