

<div class="site-menubar-body">
  <div>
    <div>
      <ul class="site-menu">
        <li class="site-menu-category">General</li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/#!control-center">
            <i class="site-menu-icon ion-ios-photos" aria-hidden="true"></i>
            <span class="site-menu-title">My Control Center</span>
          </a>
        </li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/#!home">
            <i class="site-menu-icon icon ion-android-locate" aria-hidden="true"></i>
            <span class="site-menu-title">Set-up Team</span>
          </a>
        </li>
       
        <li class="site-menu-item">
          <a class="animsition-link" href="/#!plans">
            <i class="site-menu-icon ion-ios-list-outline" aria-hidden="true"></i>
            <span class="site-menu-title">Plans</span>
          </a>
        </li>
        
      </ul>
    </div>
  </div>
</div>
