<!-- nav-tabs -->
<ul class="site-sidebar-nav nav nav-tabs nav-justified nav-tabs-line rSidebar" data-plugin="nav-tabs"
role="tablist">
  <li class="active" role="presentation">
    <a data-toggle="tab" href="javascript:void(0)" data-target="#sidebar-userlist" role="tab">
      <i class="icon md-comment" aria-hidden="true"></i>
    </a>
  </li>
  <li role="presentation">
    <a data-toggle="tab" href="javascript:void(0)" data-target="#sidebar-activity" role="tab">
      <i class="icon md-account" aria-hidden="true"></i>
    </a>
  </li>
  <li role="presentation">
    <a data-toggle="tab" href="javascript:void(0)" data-target="#sidebar-setting" role="tab">
      <i class="icon md-settings" aria-hidden="true"></i>
    </a>
  </li>
</ul>

<div class="site-sidebar-tab-content tab-content">
  <div class="tab-pane fade active in" id="sidebar-userlist">
    <div>
      <div>
        <h5 class="clearfix">FRIEND LIST
          <div class="pull-right">
            <a class="text-action" href="javascript:void(0)" role="button">
              <i class="icon md-plus" aria-hidden="true"></i>
            </a>
            <a class="text-action" href="javascript:void(0)" role="button">
              <i class="icon md-more" aria-hidden="true"></i>
            </a>
          </div>
        </h5>
        <form class="margin-vertical-20" role="search">
          <div class="input-search input-search-dark">
            <i class="input-search-icon md-search" aria-hidden="true"></i>
            <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Search Pages">
            <button type="button" class="input-search-close icon md-close" aria-label="Close"></button>
          </div>
        </form>

        <div class="list-group">
          <a class="list-group-item" href="javascript:void(0)" data-toggle="show-chat">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-sm avatar-away">
                  <img src="https://randomuser.me/api/portraits/men/2.jpg" alt="..." />
                  <i></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Mary Adams</h4>
                <small>I am superman</small>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" data-toggle="show-chat">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-sm avatar-busy">
                  <img src="https://randomuser.me/api/portraits/men/3.jpg" alt="..." />
                  <i></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Caleb Richards</h4>
                <small>I am tiger</small>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" data-toggle="show-chat">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-sm avatar-online">
                  <img src="https://randomuser.me/api/portraits/men/4.jpg" alt="..." />
                  <i></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">June Lane</h4>
                <small>I am dog</small>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" data-toggle="show-chat">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-sm avatar-off">
                  <img src="https://randomuser.me/api/portraits/men/5.jpg" alt="..." />
                  <i></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Edward Fletcher</h4>
                <small>I am kikty</small>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" data-toggle="show-chat">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-sm avatar-busy">
                  <img src="https://randomuser.me/api/portraits/men/6.jpg" alt="..." />
                  <i></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Crystal Bates</h4>
                <small>I am cat</small>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" data-toggle="show-chat">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-sm avatar-online">
                  <img src="https://randomuser.me/api/portraits/men/7.jpg" alt="..." />
                  <i></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Nathan Watts</h4>
                <small>I am monkey</small>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" data-toggle="show-chat">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-sm avatar-online">
                  <img src="https://randomuser.me/api/portraits/men/8.jpg" alt="..." />
                  <i></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Heather Harper</h4>
                <small>I am snake</small>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" data-toggle="show-chat">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-sm avatar-online">
                  <img src="https://randomuser.me/api/portraits/men/9.jpg" alt="..." />
                  <i></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Willard Wood</h4>
                <small>I am sheep</small>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" data-toggle="show-chat">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-sm avatar-away">
                  <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="..." />
                  <i></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Ronnie Ellis</h4>
                <small>I am lion</small>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" data-toggle="show-chat">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-sm avatar-off">
                  <img src="https://randomuser.me/api/portraits/men/11.jpg" alt="..." />
                  <i></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Gwendolyn Wheeler</h4>
                <small>I am goldfish</small>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" data-toggle="show-chat">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-sm avatar-busy">
                  <img src="https://randomuser.me/api/portraits/men/12.jpg" alt="..." />
                  <i></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Daniel Russell</h4>
                <small>I am rabbit</small>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" data-toggle="show-chat">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-sm avatar-online">
                  <img src="https://randomuser.me/api/portraits/men/13.jpg" alt="..." />
                  <i></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Sarah Graves</h4>
                <small>I am dolphin</small>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" data-toggle="show-chat">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-sm avatar-online">
                  <img src="https://randomuser.me/api/portraits/men/14.jpg" alt="..." />
                  <i></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Andrew Hoffman</h4>
                <small>I am horse</small>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" data-toggle="show-chat">
            <div class="media">
              <div class="media-left">
                <div class="avatar avatar-sm avatar-away">
                  <img src="https://randomuser.me/api/portraits/men/15.jpg" alt="..." />
                  <i></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Camila Lynch</h4>
                <small>I am dragon</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="sidebar-activity">
    <div>
      <div>
        <div class="widget widget-shadow text-center">
          <div class="widget-header">
            <div class="widget-header-content">
              <a class="avatar avatar-lg" href="javascript:void(0)">
                <img  ng-src="{{vm.user.imageUrl}}" alt="...">
              </a>
              <h4 class="profile-user">Hi!{{vm.user.greeting}} {{vm.user.firstName}} {{vm.user.lastName}}</h4>
              <p class="profile-job">{{vm.user.authorities[0]}}</p>
            </div>
          </div>
          <div class="widget-footer">
              {{vm.user.email}}<br>
              Last signed in {{vm.user.lastLogin |date:'dd/MM/yyyy HH:mm:ss'}}
          </div>
        </div>
        <h5 class="margin-top-40">Usage Credits</h5>
        <div class="contextual-progress">
          <div class="clearfix">
            <div class="progress-title">{{vm.user.creditLimit}} of USD2500 used</div>
            <div class="progress-label">70%</div>
          </div>
          <div class="progress" data-goal="70" data-plugin="progress">
            <div class="progress-bar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="70"
            style="width: 70%" role="progressbar">
              <span class="progress-label"></span>
            </div>
          </div>
        </div>
        <h5 class="margin-top-40">RECENT ACTIVITY</h5>
        <ul class="timeline timeline-icon timeline-single timeline-simple timeline-feed">
          <li class="timeline-item">
            <div class="timeline-dot bg-pink-600">
              <i class="icon md-favorite" aria-hidden="true"></i>
            </div>
            <div class="timeline-content">
              <small>
                <time datetime="2016-07-08">6 minutes ago</time>
              </small>
              <p>Melissa liked your activity Drinks At My Place.</p>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-dot bg-green-600">
              <i class="icon md-check" aria-hidden="true"></i>
            </div>
            <div class="timeline-content">
              <small>
                <time datetime="2016-07-08">10 minutes ago</time>
              </small>
              <p>Tina is attending your activity Coffee @Starbucks</p>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-dot bg-green-600">
              <i class="icon md-comment" aria-hidden="true"></i>
            </div>
            <div class="timeline-content">
              <small>
                <time datetime="2016-07-08">15 minutes ago</time>
              </small>
              <p>Melissa liked your activity Drinks At My Place.</p>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-dot">
              <i class="icon md-plus" aria-hidden="true"></i>
            </div>
            <div class="timeline-content">
              <small>
                <time datetime="2016-07-08">20 minutes ago</time>
              </small>
              <p>Josh is now following you</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="sidebar-setting">
    <div>
      <div>
        <h5>GENERAL SETTINGS</h5>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="pull-right margin-top-5">
              <input type="checkbox" class="js-switch-small" data-plugin="switchery" data-size="small"
              checked />
            </div>
            <h5>Notifications</h5>
            <p>Our very own image-less pure CSS and retina compatible check box.</p>
          </li>
          <li class="list-group-item">
            <div class="pull-right margin-top-5">
              <input type="checkbox" class="js-switch-small" data-plugin="switchery" data-size="small"
              checked />
            </div>
            <h5>Show your emails</h5>
            <p>Our very own image-less pure CSS and retina .</p>
          </li>
          <li class="list-group-item">
            <div class="pull-right margin-top-5">
              <input type="checkbox" class="js-switch-small" data-plugin="switchery" data-size="small"
              checked />
            </div>
            <h5>Show recent activity</h5>
            <p>Our very own image-less pure CSS and retina compatible check box.</p>
          </li>
          <li class="list-group-item">
            <div class="pull-right margin-top-5">
              <input type="checkbox" class="js-switch-small" data-plugin="switchery" data-size="small"
              checked />
            </div>
            <h5>Show Usage Credits</h5>
            <p>Our very own image-less pure CSS and retina .</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="conversation" class="conversation">
  <div class="conversation-header">
    <a class="conversation-return pull-left" href="javascript:void(0)" data-toggle="close-chat">
      <i class="icon md-chevron-left" aria-hidden="true"></i>
    </a>
    <div class="conversation-title">
      Conversation with
      <a class="avatar margin-left-30" data-toggle="tooltip" href="#" data-placement="left"
      title="Robin Ahrens">
        <img src="https://randomuser.me/api/portraits/men/5.jpg" alt="...">
      </a>
    </div>
  </div>
  <div class="chats">
    <div class="chat chat-right">
      <div class="chat-body">
        <div class="chat-content" data-toggle="tooltip" title="8:35 am">
          <p>
            I'm just looking around.
          </p>
          <p>Will you tell me something about yourself? </p>
        </div>
        <div class="chat-content" data-toggle="tooltip" title="8:40 am">
          <p>
            Are you there? That time!
          </p>
        </div>
      </div>
    </div>
    <div class="chat">
      <div class="chat-body">
        <div class="chat-content" data-toggle="tooltip" title="8:30 am">
          <p>
            Hello. What can I do for you?
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="conversation-reply">
    <div class="input-group">
      <span class="input-group-btn">
        <a href="javascript: void(0)" class="btn btn-pure btn-default icon md-plus"></a>
      </span>
      <input class="form-control" type="text" placeholder="Say something">
      <span class="input-group-btn">
        <a href="javascript: void(0)" class="btn btn-pure btn-default icon md-image"></a>
      </span>
    </div>
  </div>
</div>