<div class="panel-heading">
    <a id="btn-toggle-Store" class="panelHeadBtn" href="javascript:void(0)">Service Store<i class="ion-chevron-up ssArrowAnim"></i></a>
    <div class="panel-actions">
      <div class="input-search input-group-sm">
        <input type="text" class="form-control" name="" placeholder="Search...">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <ul class="text-center headerfilterIncon">
            <li><a href="javascript:void(0)"><i class="icon ion-ios-star-outline"></i> <span>Featured</span></a> </li>
            <li><a href="javascript:void(0)"><i class="icon ion-grid"></i> <span>Categories</span></a> </li>
            <li><a href="javascript:void(0)"><i class="icon ion-bag"></i> <span>Purchased</span></a> </li>
            <li><a href="javascript:void(0)"><i class="icon ion-ios-loop-strong"></i> <span>Updates</span></a> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-body padding-0 collapsed"  style="overflow-y:auto">
    <div class="section" id="sectionBottom1">
      <div class="nav-tabs-vertical tf_section">
        <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
          <li class="active" role="presentation">
            <a data-toggle="tab" href="javascript:;" data-target="#exampleTabsLeftOne" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true" class="tf_btn">
              <i class="ion-image iconlg"></i>
              <span class="col-sm-10 col-sm-offset-2">
                  <strong>Featured item 01</strong>
                  <small>Android App Functional Test Description here...</small>
              </span>
            </a>
          </li>
          <li role="presentation" class="">
            <a data-toggle="tab" href="javascript:;" data-target="#exampleTabsLeftTwo" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false" class="tf_btn">
              <i class="ion-image iconlg"></i>
              <span class="col-sm-10 col-sm-offset-2">
                  <strong>Featured item 02</strong>
                  <small>Description here...</small>
              </span>
            </a>
          </li>
          <li role="presentation" class="">
            <a data-toggle="tab" href="javascript:;" data-target="#exampleTabsLeftThree" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false" class="tf_btn">
              <i class="ion-image iconlg"></i>
              <span class="col-sm-10 col-sm-offset-2">
                  <strong>Featured item 03</strong>
                  <small>Description here...</small>
              </span>
            </a>
          </li>
        </ul>
        <div class="tab-content padding-0">
          <div class="tab-pane active" id="exampleTabsLeftOne" role="tabpanel">
            <span class="middle_text">Feature 1</span>
            <p class="feattureNote">1111 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <div class="tab-pane" id="exampleTabsLeftTwo" role="tabpanel">
            <span class="middle_text">Feature 2</span>
            <p class="feattureNote">2222 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <div class="tab-pane" id="exampleTabsLeftThree" role="tabpanel">
            <span class="middle_text">Feature 3</span>
            <p class="feattureNote">3333 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>

        </div>
      </div>
      <!--section starts-->
      <h5 class="text-uppercase margin-top-20 margin-left-10 margin-right-10">Displaying (03) Categories</h5>
      <div class="padding-15 margin-top-20 margin-left-10 margin-right-10 blockBorder">
        <ul class="list-group boxUl">
          <li class="col-sm-6 col-lg-4">
            <div class="row">
              <div class="col-sm-3 text-center">
                <span class="s_icon"><i class="icon md-file-plus" aria-hidden="true"></i></span>
                <p class="priceText">$99.99</p>
                <button type="button" class="btn btn-info waves-effect waves-light" data-target="#addServiceInfo" data-toggle="modal"><i class="icon md-plus" aria-hidden="true"></i> Add</button>
              </div>
              <div class="col-sm-9 categoryRight" onclick="showServiceTopScreen('sectionBottom2')">
                <h5><a href="javascript:void(0)">Mobility</a></h5>
                <p><a href="javascript:void(0)">Android App Functional Test</a></p>
                <p><a href="javascript:void(0)">Android App Performance Test</a></p>
                <p>
                  <a href="javascript:void(0)">Android App Profiler</a>
                </p>
              </div>
            </div>
          </li>
          <li class="col-sm-6 col-lg-4">
            <div class="row">
              <div class="col-sm-3 text-center">
                <span class="s_icon"><i class="icon md-file-plus" aria-hidden="true"></i></span>
                <p class="priceText">$99.99</p>
                <button type="button" class="btn btn-info waves-effect waves-light"><i class="icon md-plus" aria-hidden="true"></i> Add</button>
              </div>
              <div class="col-sm-9 categoryRight" onclick="showServiceTopScreen('sectionBottom2')">
                <h5><a href="javascript:void(0)">Test Automation</a></h5>
                <p><a href="javascript:void(0)">Web App / Visual Automation</a></p>
                <p><a href="javascript:void(0)">Web Service Automation</a></p>
                <p>
                  <a href="javascript:void(0)">Android App Profiler</a>
                </p>
              </div>
            </div>
          </li>
          <li class="col-sm-6 col-lg-4">
            <div class="row">
              <div class="col-sm-3 text-center">
                <span class="s_icon"><i class="icon md-file-plus" aria-hidden="true"></i></span>
                <p class="priceText">$99.99</p>
                <button type="button" class="btn btn-info waves-effect waves-light"><i class="icon md-plus" aria-hidden="true"></i> Add</button>
              </div>
              <div class="col-sm-9 categoryRight" onclick="showServiceTopScreen('sectionBottom2')">
                <h5><a href="javascript:void(0)">DevOps</a></h5>
                <p><a href="javascript:void(0)">App Life-cycle Management</a></p>
                <p><a href="javascript:void(0)">Multi Platform Integrator</a></p>
                <p>
                  <a href="javascript:void(0)">Environment Builder</a>
                </p>
                <p><a href="javascript:void(0)">Pipeline Creator</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--section1 ends-->
    <div class="section" id="sectionBottom2">
      <div class="navBtns nbBottom">
        <button type="button" class="btn btn-round btn-primary btn-pill-left waves-effect waves-round waves-light" onclick="showServiceTopScreen('sectionBottom1')">Prev</button>
        <button type="button" class="btn btn-round btn-primary btn-pill-right waves-effect waves-round waves-light" onclick="showServiceTopScreen('sectionBottom3')">Next</button>
      </div>
      <h5 class="text-uppercase margin-top-20 margin-left-10 margin-right-10">Featured Mobility Services (03)</h5>
      <div class="padding-15 margin-top-20 margin-left-10 margin-right-10 blockBorder">
        <ul class="list-group boxUl text-center">
          <li class="col-sm-6 col-lg-4">
            <div class="">
              <span class="s_icon"><i class="icon md-file-plus" aria-hidden="true"></i></span>
              <p class="appTitle">Android App Functional Test</p>
            </div>
          </li>
          <li class="col-sm-6 col-lg-4">
            <div class="">
              <span class="s_icon"><i class="icon md-file-plus" aria-hidden="true"></i></span>
              <p class="appTitle">Android App Performance Test</p>
            </div>
          </li>
          <li class="col-sm-6 col-lg-4">
            <div class="">
              <span class="s_icon"><i class="icon md-file-plus" aria-hidden="true"></i></span>
              <p class="appTitle">Android App Profiler</p>
            </div>
          </li>
        </ul>
        <button type="button" class="btn btn-info btn-xs waves-effect waves-light stickyBR">See all</button>
      </div>
      <h5 class="text-uppercase margin-top-20 margin-left-10 margin-right-10">All Mobility Services (03)</h5>
      <div class="padding-15 margin-top-20 margin-left-10 margin-right-10 blockBorder">
        <ul class="list-group boxUl">
          <li class="col-sm-6 col-lg-4">
            <div class="row">
              <div class="col-sm-3 text-center">
                <span class="s_icon"><i class="icon md-file-plus" aria-hidden="true"></i></span>
                <p class="priceText">$99.99</p>
                <button type="button" class="btn btn-info waves-effect waves-light" data-target="#addServiceInfo" data-toggle="modal"><i class="icon md-plus" aria-hidden="true"></i> Add</button>
              </div>
              <div class="col-sm-9 categoryRight">
                <h5><a href="javascript:void(0)" onclick="showServiceTopScreen('sectionBottom3')">Android App Functional Test</a></h5>
                <p>Description...</p>
                <p>Version: 1.3.1</p>
                <p>Last Updated: Jan 16, 2017</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--section2 ends-->
    <div class="section" id="sectionBottom3">
      <div class="navBtns nbBottom">
        <button type="button" class="btn btn-round btn-primary btn-pill-left waves-effect waves-round waves-light" onclick="showServiceTopScreen('sectionBottom2')">Prev</button>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="row no-space">
            <div class="col-sm-3 text-center oneserviceLeft">
              <i class="ion-image iconlg"></i>
              <p class="text-success">$30.99</p>
              <p>Purchased</p>
              <p class="text-danger">License Expires on<br>Dec 31, 2017</p>
            </div>
            <div class="col-sm-9 padding-top-10">
              <h5 class="font-size-16">Android App Functional Test</h5>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

              <p class="font-weight-400 margin-top-30">What's new in Version: 1.3.1</p>
              <p>Enhanced Security and minor bug fixes.</p>

              <div class="clearfix">
                <button type="button" class="btn btn-info waves-effect waves-light pull-right margin-left-10">Configure Run Service</button>
                <button type="button" class="btn btn-danger waves-effect waves-light pull-right">I want to install this on my local environment</button>
              </div>
              <!--images tabs start-->
              <div class="nav-tabs-horizontal margin-bottom-10 margin-top-30">
                <ul class="nav nav-tabs nav-tabs-solid nav_inverse" data-plugin="nav-tabs" role="tablist">
                  <li class="active margin-left-10" role="presentation"><a data-toggle="tab"href="javascript:;" data-target="#exampleTabsIconOne" aria-controls="exampleTabsIconOne" role="tab"><i class="icon ion-image iconlg margin-0" aria-hidden="true"></i></a></li>
                  <li role="presentation"><a data-toggle="tab" href="javascript:;" data-target="#exampleTabsIconTwo" aria-controls="exampleTabsIconTwo" role="tab"><i class="icon ion-image iconlg margin-0" aria-hidden="true"></i></a></li>
                  <li role="presentation"><a data-toggle="tab" href="javascript:;" data-target="#exampleTabsIconThree" aria-controls="exampleTabsIconThree" role="tab"><i class="icon ion-image iconlg margin-0" aria-hidden="true"></i></a></li>
                  <li role="presentation"><a data-toggle="tab" href="javascript:;" data-target="#exampleTabsIconFour" aria-controls="exampleTabsIconFour" role="tab"><i class="icon ion-image iconlg margin-0" aria-hidden="true"></i></a></li>
                </ul>
                <div class="tab-content padding-10">
                  <div class="tab-pane active" id="exampleTabsIconOne" role="tabpanel">
                    <span>image 1</span>
                    <img src="assets/common/images/placeholder.png" class="img_responsive">
                  </div>
                  <div class="tab-pane" id="exampleTabsIconTwo" role="tabpanel">
                    <span>image 2</span>
                    <img src="assets/common/images/placeholder.png" class="img_responsive">
                  </div>
                  <div class="tab-pane" id="exampleTabsIconThree" role="tabpanel">
                    <span>image 3</span>
                    <img src="assets/common/images/placeholder.png" class="img_responsive">
                  </div>
                  <div class="tab-pane" id="exampleTabsIconFour" role="tabpanel">
                    <span>image 4</span>
                    <img src="assets/common/images/placeholder.png" class="img_responsive">
                  </div>
                </div>
              </div>
              <!--images tabs ends-->
            </div>
          </div>
        </div>
        <div class="col-sm-3 padding-top-10">
          <h5 class="font-size-15">Information</h5>
          <ul class="list-group list-group-full ulList">
            <li class="list-group-item">Category: Mobility</li>
            <li class="list-group-item">Updated: Jan 16, 2017</li>
            <li class="list-group-item">Version: 1.3.1</li>
            <li class="list-group-item">Price: $30.99</li>
            <li class="list-group-item">Size: 2.4 MB</li>
            <li class="list-group-item">Language: English</li>
            <li class="list-group-item">Developer: Quinnox</li>
          </ul>
          <h5 class="font-size-15">Quick Links</h5>
          <ul class="list-group list-group-full ulList">
            <li class="list-group-item"><a href="javascript:;">Support Documentation</a></li>
            <li class="list-group-item"><a href="javascript:;">FAQ</a></li>
            <li class="list-group-item"><a href="javascript:;">Licensing Information</a></li>
            <li class="list-group-item"><a href="javascript:;">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--section3 ends-->
    <!--section ends-->
  </div>
  <script src="assets/common/js/common.js"></script>
  