<div class="panel-heading">
    <a id="btn-toggle-Store" class="panelHeadBtn" href="javascript:void(0)">Service Store<i class="ion-chevron-up ssArrowAnim"></i></a>
    <div class="panel-actions">
      <div class="input-search input-group-sm">
        <input type="text" class="form-control" name="" placeholder="Search...">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <ul class="text-center headerfilterIncon">
            <li><a href="javascript:void(0)"><i class="icon ion-ios-star-outline"></i> <span>Featured</span></a> </li>
            <li><a href="javascript:void(0)"><i class="icon ion-grid"></i> <span>Categories</span></a> </li>
            <li><a href="javascript:void(0)"><i class="icon ion-bag"></i> <span>Purchased</span></a> </li>
            <li><a href="javascript:void(0)"><i class="icon ion-ios-loop-strong"></i> <span>Updates</span></a> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-body padding-0 collapsed"  style="overflow-y:auto">
    <div class="section" id="sectionBottom1">
      <div class="nav-tabs-vertical tf_section">
        <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
          <li class="active" role="presentation">
            <a data-toggle="tab" href="javascript:;" data-target="#exampleTabsLeftOne" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true" class="tf_btn">
              <i class="ion-image iconlg"></i>
              <span class="col-sm-10 col-sm-offset-2">
                  <strong>Featured item 01</strong>
                  <small>Android App Functional Test Description here...</small>
              </span>
            </a>
          </li>
          <li role="presentation" class="">
            <a data-toggle="tab" href="javascript:;" data-target="#exampleTabsLeftTwo" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false" class="tf_btn">
              <i class="ion-image iconlg"></i>
              <span class="col-sm-10 col-sm-offset-2">
                  <strong>Featured item 02</strong>
                  <small>Description here...</small>
              </span>
            </a>
          </li>
          <li role="presentation" class="">
            <a data-toggle="tab" href="javascript:;" data-target="#exampleTabsLeftThree" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false" class="tf_btn">
              <i class="ion-image iconlg"></i>
              <span class="col-sm-10 col-sm-offset-2">
                  <strong>Featured item 03</strong>
                  <small>Description here...</small>
              </span>
            </a>
          </li>
        </ul>
        <div class="tab-content padding-0">
          <div class="tab-pane active" id="exampleTabsLeftOne" role="tabpanel">
            <span class="middle_text">Feature 1</span>
            <p class="feattureNote">1111 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <div class="tab-pane" id="exampleTabsLeftTwo" role="tabpanel">
            <span class="middle_text">Feature 2</span>
            <p class="feattureNote">2222 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <div class="tab-pane" id="exampleTabsLeftThree" role="tabpanel">
            <span class="middle_text">Feature 3</span>
            <p class="feattureNote">3333 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>

        </div>
      </div>
      <!--section starts-->
      <h5 class="text-uppercase margin-top-20 margin-left-10 margin-right-10">Displaying ({{vm.allServiceStores.length}}) Services</h5>
      <div class="padding-15 margin-top-20 margin-left-10 margin-right-10 blockBorder">
        <ul class="list-group boxUl">
          <li class="col-sm-6 col-lg-4" ng-repeat="displayData in vm.allServiceStores ">
            <div class="row">
              <div class="col-sm-3 text-center">
                <span class="s_icon"><i class="icon md-file-plus" aria-hidden="true"></i></span>
                <p class="priceText">{{displayData.servicePricing}}</p>
                <button type="button" 
                ng-if="(vm.isAdmin || selectedTeam.teamUsers[0].storeAccess || vm.selectedTeam.teamUsers[0].storeAccess) && !checkServicePresent(displayData.id) " 
                class="btn btn-info waves-effect waves-light" data-toggle="modal"
                data-target="#modal-confirm-service-{{displayData.id}}" ng-click="clearServiceStore(displayData)"
                ><i class="icon md-plus" aria-hidden="true"></i> Add</button>
              </div>
              <div class="col-sm-9 categoryRight" >
                <h5>{{displayData.serviceName}}</h5>
                <p>{{displayData.serviceDescription}}</a></p>
                <p>{{displayData.serviceFeatures}}</p>
               
              </div>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
    
  </div>
  <script src="assets/common/js/common.js"></script>
  