<div id="modal-confirm-service-{{displayData.id}}" ng-repeat="displayData in vm.allServiceStores " class="modal fade serviceModal">
  <div class="modal-dialog">
      <div class="modal-content login-form width-400">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h5 class="modal-title">Confirm Your Purchase</h5>
              </div>

              <div class="modal-body">
                  <span>You are adding the <strong>"{{displayData.serviceName}}"</strong> Service Capability Suite to
                  your account.<br> Please confirm your purchase below.</span>
                  <br>
                  <span ng-if="displayData.error" class="text-danger"> Could Not Purchase. Kindly Try Again Later</span>
                  <br>
                 <div class="table-bordered">
                      <table class="table table-xs comfirm-purchase">
                          <thead class="border-top-th">
                              <tr>
                                  <th>
                                      <label>
                                          <span>Service: {{displayData.serviceName}}</span>
                                      </label>

                                  </th>
                                  <th class="">Price ({{displayData.servicePricing}})</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td colspan="2">
                                      <label>{{displayData.serviceDescription}}</label>
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="2">
                                      <label>{{displayData.serviceFeatures}}</label>
                                  </td>
                              </tr>


                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox" ng-model="displayData.termsAndConditions"class="checkBoxClass"><span>I have read the <a href="#">terms and conditions</a> and agree to abide by them.</span> </label>
                  <label > <span class="text-danger" ng-if="displayData.warning">Cannot Proceed ahead unless selected</span></label>
              </div>
              <br>
             <div class="modal-footer">
             <center>
                  <button type="button" class="md-btn md-raised btn btn-primary spache-10"  ng-click="addService(displayData,'modal-success-team-service-add');">Confirm</button>
                  <button type="button" class="md-btn md-raised btn btn-default" data-dismiss="modal">Cancel</button>
              </center>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade modal-fade-in-scale-up" id="modal-success-team-service-add" aria-hidden="true"
aria-labelledby="modal-success-team-service-addTitle" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Service Purchased</h4>
      </div>
      <div class="modal-body">
        <h5 class="text-muted font-size-16 font-weight-100">New Service has been Purchased.</h5>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-pure margin-0" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
  <div class="modal fade modal-fade-in-scale-up" id="modalDeleteTeam" aria-hidden="true"
  aria-labelledby="modalDeleteTeamTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Confirm Delete?</h4>
        </div>
        <div class="modal-body">
          <h5 class="text-muted font-size-16 font-weight-100">You have chosen to delete this team</h5>
          <p>Please confirm your action to proceed.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-pure margin-0" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="btndeleteTeamConfirm" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <!--delete team modal ends-->
  

  <div class="modal fade modal-fade-in-scale-up" id="addServiceInfo" aria-hidden="true" aria-labelledby="addServiceInfoTitle"
    role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Confirm Your Purchase</h4>
        </div>
        <div class="modal-body">
          <p>You are adding the "Mobility" Service Capability Suite to your account.<br> Please confirm your purchase below.
            </p>
          <div class="serviceFeatureList">
            <table class="table table-hover" data-selectable="selectable" data-row-selectable="true">
              <thead>
                <tr>
                  <th class="width-50">
                    <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-all" type="checkbox">
                            <label></label>
                          </span>
                  </th>
                  <th>
                    Category: Mobility
                  </th>
                  <th>
                    Price $99.99
                  </th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-item" type="checkbox" id="row-619" value="619">
                            <label for="row-619"></label>
                          </span>
                  </td>
                  <td colspan="2">Android App Test619</td>
                </tr>
                <tr>
                  <td>
                    <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-item" type="checkbox" id="row-619" value="619">
                            <label for="row-619"></label>
                          </span>
                  </td>
                  <td colspan="2">Runtime Capability 2</td>
                </tr>
                <tr>
                  <td>
                    <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-item" type="checkbox" id="row-619" value="619">
                            <label for="row-619"></label>
                          </span>
                  </td>
                  <td colspan="2">Runtime Capability 3</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>
            <span class="checkbox-custom checkbox-primary checkterms">
              <input class="selectable-all" type="checkbox">
              <label>I have read the <a href="javascript:;">terms and conditions</a> and agree to abide by them.</label>
            </span>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-pure margin-0" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="btnConfirmService" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <!--add service modal ends-->