

<div class="site-menubar-body">
  <div>
    <div>
      <ul class="site-menu">
        <li class="site-menu-category">General</li>
        <li class="site-menu-item">
          <a class="animsition-link" href="/#!userdashboard">
            <i class="site-menu-icon ion-android-arrow-dropright-circle" aria-hidden="true"></i>
            <span class="site-menu-title">Dashboard</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
