
<link rel="stylesheet" href="assets/common/examples/css/pages/login-v3.css">
<link rel="stylesheet" href="assets/common/css/landingpage.css">

  <div class="page-login-v3 layout-full">
  <!-- Page -->
  <div id="main-div-home" class="main-view">
    <nav class="navbar navbar-default navbar-bg">
      <div class="container">
        <div class="col-sm-2 col-md-5">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
            <a class="navbar-brand" href="javascript:;"><img src="assets/common/images/c1_logo.png" class="img-responsive logo-index" style="position: relative;
    top: 16px;
    width: 140px;"></a>
          </div>
        </div>
        <div class="col-sm-10 col-md-7">
          <div class="collapse navbar-collapse border-navbar" id="myNavbar">
            <ul class="nav navbar-nav top-menu">
              <li><a href="javascript:;">Features</a></li>
              <li><a href="javascript:;">Apps</a></li>
              <li><a href="javascript:;">Upgrade to Pro</a></li>
              <li><a href="javascript:;">Help Center</a></li>
              <li class="active"><a href="/#!register">Create Account</a></li>
              <li><a href="/#!login">Sign In</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="pg_content">
      <div class="container">
        <div class="col-md-4 col-sm-8 img-block1">
          <center>
            <img class="img-responsive" src="assets/common/images/new-main-logo.png" alt="logo-abx" />
          </center>
        </div>
      </div>
      <div class="container">
        <div class="col-md-4 col-sm-8">
          <div class="button-block">
            <div class=" row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <a class="bg-blue btn btn-sm btn-block" href="/#!register">Create Account</a>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <a class="bg-white1 btn btn-sm btn-block" href="/#!plans">View Plans</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container btn-yellow-block">
        <div class="col-md-4 col-sm-8">
          <p>Already a user?</p>
          <a href="/#!login">Sign In</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
     <!-- Core  -->
  <script src="assets/global/vendor/jquery/jquery.min.js"></script>
  <script src="assets/global/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="assets/global/vendor/asscroll/jquery-asScroll.min.js"></script>
  <script src="assets/global/vendor/mousewheel/jquery.mousewheel.min.js"></script>
  <script src="assets/global/vendor/asscrollable/jquery.asScrollable.all.min.js"></script>
  <script src="assets/global/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
  <script src="assets/global/vendor/waves/waves.min.js"></script>
  <!-- Plugins -->
  <script src="assets/global/vendor/switchery/switchery.min.js"></script>
  <script src="assets/global/vendor/intro-js/intro.min.js"></script>
  <script src="assets/global/vendor/screenfull/screenfull.min.js"></script>
  <script src="assets/global/vendor/slidepanel/jquery-slidePanel.min.js"></script>
  <script src="assets/global/vendor/jquery-placeholder/jquery.placeholder.min.js"></script>
  <script src="assets/global/vendor/formvalidation/formValidation.min.js"></script>
  <script src="assets/global/vendor/formvalidation/framework/bootstrap.min.js"></script>
  <!-- Scripts -->
  <script src="assets/global/js/core.min.js"></script>
  <script src="assets/common/js/site.min.js"></script>
  <script src="assets/common/js/sections/menu.js"></script>
  <script src="assets/common/js/sections/menubar.js"></script>
  <script src="assets/common/js/sections/gridmenu.js"></script>
  <script src="assets/common/js/sections/sidebar.js"></script>
  <script src="assets/global/js/configs/config-colors.min.js"></script>
  <script src="assets/common/js/configs/config-tour.js"></script>
  <script src="assets/global/js/components/asscrollable.min.js"></script>
  <script src="assets/global/js/components/slidepanel.min.js"></script>
  <script src="assets/global/js/components/switchery.min.js"></script>
  <script src="assets/global/js/components/tabs.min.js"></script>
  <script src="assets/global/js/components/jquery-placeholder.min.js"></script>
  <script src="assets/global/js/components/material.min.js"></script>
  <script src="assets/common/examples/js/forms/validation.min.js"></script>

  <!--added common js file-->
  <script src="assets/common/js/common.js"></script>
<script>
    /** this function will initialise the template***/
    (function (document, window, $) {
      'use strict';
      var Site = window.Site;
      $(document).ready(function () {
        Site.run();
      });
    })(document, window, jQuery);
  </script>
    
  </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
