<script type="text/template" id="registrantMembers">
  {{#tsObject}}
  <div class="panel">
    <div class="panel-heading">
    <!-- <input type="text" value="{{id}}" class="testSuiteId"> -->
    <input type="hidden" value="{{moduleName}}" class="modName">
      <a class="panel-title collapsed suitName" data-toggle="collapse" href="#{{id}}" data-parent="#tsuitePanel" aria-expanded="false" aria-controls="{{id}}">
        {{testSuiteName}}
      </a>
      <div class="panel-actions">
        <a class="panel-action ion-ios-play-outline" data-target="#runTSModal" data-toggle="modal"></a>
        <a class="panel-action ion-ios-trash-outline" data-target="#modalDeleteTestSuite" data-toggle="modal"></a>
      </div>
    </div>
    <div class="panel-collapse collapse" id="{{id}}" role="tabpanel" aria-expanded="false">
      <div class="panel-group margin-top-15 padding-bottom-15 tsPanel" id="tsscriptPanel" aria-multiselectable="true" role="tablist">
        {{#testScripts}}
        <div class="panel">
          <div class="panel-heading">
            <a class="panel-title collapsed" data-toggle="collapse" href="#{{id}}" data-parent="#modalDeleteTestScript" aria-expanded="false" aria-controls="{{id}}">
              {{testScriptName}}
            </a>
            <div class="panel-actions">
              <a class="panel-action ion-edit editTestScriptBtn"></a>
              <a class="panel-action ion-ios-play-outline" data-target="#runTSModal" data-toggle="modal"></a>
              <a class="panel-action ion-ios-copy-outline"></a>
              <a class="panel-action ion-ios-trash-outline" data-target="#modalDeleteTestScript" data-toggle="modal"></a>
            </div>
          </div>
          <div class="panel-collapse collapse" id="{{id}}" role="tabpanel" aria-expanded="false">
            {{#testSteps}}
            <div class="row">
              <div class="col-sm-2">
                Step<span>{{stepNum}}</span>
              </div>
              <div class="col-sm-8">
                <span>{{stepDescription}}</span>
              </div>
            </div>
            {{/testSteps}}
          </div>
        </div>
        {{/testScripts}}
      </div>
      <button type="button" class="btn btn-info waves-effect waves-light" id="btnAddTs"><i class="icon md-plus" aria-hidden="true"></i>Add Test Script</button>

    </div>
  </div>
  {{/tsObject}}
</script>